.slide-card1 {
  width: 1197px;
  top: 38px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.149);
  z-index: 3;
}

.slide-card1__left-box {
  color: #FDFDFD;
}

.slide-card1 .profil-menu {
  color: #FDFDFD;
}

.slide-card1 .slide-favori {
  line-height: 40px;
  margin-right: 37px;
}

.slide-card1 .slide-favori::before {
  margin-right: 10px;
  content: '\e840';
  font-family: "card-top-icon";
}

.slide-card1 .slide-dropdown {
  margin-right: 37px;
  line-height: 40px;
}

.slide-card1 .slide-dropdown::before {
  margin-right: 10px;
  content: '\e846';
  font-family: "user-icon";
}

.slide-card1 .slide-dropdown::after {
  margin-left: 10px;
  content: '\e841';
  font-family: "icon-vector";
  font-size: 8px;
}

.slide-card2 {
  width: 1197px;
  z-index: 3;
  bottom: 247px;
}
