@charset "UTF-8";
@font-face {
  font-family: 'card-top-icon';
  src: url("../font/card-top-icon.eot?35658113");
  src: url("../font/card-top-icon.eot?35658113#iefix") format("embedded-opentype"), url("../font/card-top-icon.woff2?35658113") format("woff2"), url("../font/card-top-icon.woff?35658113") format("woff"), url("../font/card-top-icon.ttf?35658113") format("truetype"), url("../font/card-top-icon.svg?35658113#card-top-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'card-top-icon';
      src: url('../font/card-top-icon.svg?35658113#card-top-icon') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "card-top-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before {
  content: '\e83e';
}

/* '' */
.icon-vector:before {
  content: '\e840';
}

/* '' */
@font-face {
  font-family: 'icon-vector';
  src: url("../font/icon-vector.eot?40844373");
  src: url("../font/icon-vector.eot?40844373#iefix") format("embedded-opentype"), url("../font/icon-vector.woff2?40844373") format("woff2"), url("../font/icon-vector.woff?40844373") format("woff"), url("../font/icon-vector.ttf?40844373") format("truetype"), url("../font/icon-vector.svg?40844373#icon-vector") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icon-vector';
      src: url('../font/icon-vector.svg?40844373#icon-vector') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon-vector";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vector-2:before {
  content: '\e841';
}

/* '' */
@font-face {
  font-family: 'user-icon';
  src: url("../font/user-icon.eot?81607384");
  src: url("../font/user-icon.eot?81607384#iefix") format("embedded-opentype"), url("../font/user-icon.woff2?81607384") format("woff2"), url("../font/user-icon.woff?81607384") format("woff"), url("../font/user-icon.ttf?81607384") format("truetype"), url("../font/user-icon.svg?81607384#user-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'user-icon';
      src: url('../font/user-icon.svg?81607384#user-icon') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "user-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before {
  content: '\e843';
}

/* '' */
.icon-7148755_user_avatar_profile_person_people_icon:before {
  content: '\e844';
}

/* '' */
.icon-4473009_personal-icon_user_user-icon_user-outline-icon_users-icon_icon:before {
  content: '\e846';
}

/* '' */
/*===== kateqoriya iconlar =====*/
@font-face {
  font-family: 'category';
  src: url("../font/category.eot?94116840");
  src: url("../font/category.eot?94116840#iefix") format("embedded-opentype"), url("../font/category.woff2?94116840") format("woff2"), url("../font/category.woff?94116840") format("woff"), url("../font/category.ttf?94116840") format("truetype"), url("../font/category.svg?94116840#category") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'category';
      src: url('../font/category.svg?94116840#category') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "category";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-category1:before {
  content: '\e847';
}

/* '' */
.icon-category3:before {
  content: '\e84a';
}

/* '' */
.icon-category2:before {
  content: '\e84b';
}

/* '' */
