@import "button";
@import "nav-card";
@import "icon";
@import "variables";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Maze&family=Silkscreen:wght@400;700&display=swap');

/*===== carousel background =====*/

.carousel__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
}

/*===== kateqoriya=====*/
.category {
  margin-top: 70px;
  margin-bottom: 60px;
 .category-box { 
  width: 335px;
  margin-right: 95px;
  .category-box__text {
    color:$color-blue;
    line-height: $line-24;
    margin-bottom: 12px;
    font: {
      weight:$font-500;
      size:$font-16;
      style:$font-normal;
    }
  }
  .category-box__title {
    color: $color-black1;
    line-height: $line-53;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    font: {
      weight:$font-600;
      size:$font-36;
      style:$font-normal;
    }
  }
  .category-box__about {
    width: 335px;
    line-height: $line-32;
    color: $color-gray1;
    font: {
      weight:$font-400;
      size:$font-18;
    }
  }
 }
}

 /*===== satılıq, kirayə evlər =====*/
 @mixin size {
  max-width: 251px;
  max-height: 287px;
  padding: 60px 40px;
 }
  .rent-boxs {
    .sale {
    @include size;
    }
    .rent-month {
    @include size;
    }
    .rent-day {
    @include size;
    background: #FFFFFF;
    box-shadow: 40px 0px 70px rgba(121, 121, 121, 0.05), -40px 100px 70px rgba(121, 121, 121, 0.05);
    }
    h3 {
      margin-top: 15px;
      margin-bottom: 19px;
      line-height: $line-25;
      color: $color-black2;
      font: {
        weight:$font-500;
        size:$font-20;
      }
    }
    p {
      width: 179px;
      line-height: $line-27;
      color: $color-gray1;
      font: {
        weight:$font-400;
        size:$font-16;
      }
    }
    .sale__icon::before {
      content: '\e847';
      font-family: "category";
      font-size: $font-35;
      color: $color-purple;
    }
    .rent-month__icon::before {
      content: '\e84b';
      font-family: "category";
      font-size: $font-35;
      color: $color-green;
    }
    .rent-day__icon::before {
      content: '\e84a';
      font-family: "category";
      font-size: $font-35;
      color: $color-pink;
    }
  } 

/*============ Önə çıxan təkliflər hissəsi and content start ===============*/
    figure {
         background: #FFFFFF;
         box-shadow: 0px 68px 84px -48px rgba(226, 238, 249, 0.6);
         border-radius: 10px;
         padding-bottom: 25px;
         margin-bottom: 20px;
     }
    figcaption {
      padding-left: 10px;
    }
    .margin-size .col:nth-last-child(1){
      margin-left: 20px;
    }
    .margin-size .col:nth-child(2){
      margin-right: 20px;
    }
    .margin-size .col:nth-child(1){
      margin-right: 20px;
    }
    .suggestion {
      &__title-box {
        padding: 0;
      }
      &__img {
        height: 100%;
        border-radius: 8px;
      }
      &__img-height {
        height: 240px;
      }
      &__title {
      line-height: $line-35;
      color:$color-black1;
      margin-bottom: 15px;
      font: {
          weight: $font-600;
          size: $font-32;
        }
      }
      &__text {
      margin-bottom: 40px;  
      line-height: $line-30;
      color: $color-gray3;
      font: {
        weight:$font-400;
        size:$font-18;
        }
      }
      &__link {
        color: $color-blue;
        line-height: $line-24;
        font: {
          weight: $font-600;
          size: $font-16;
        }
        img {
          margin-left: 13px;
        }
      }
      &__like-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #FFFFFF;
      &:before {

        content: '\e800';

        font-family: "heart-like";
        color: red;
        }
      }
      &__col-middle {
        margin-right: 20px;
        margin-left: 20px;
      }
      &__img-title {
        margin-top: 13px;
        margin-bottom: 12px;
        color: $color-black3;
        line-height: $line-21;
        font: {
          size:$font-20;
          weight:$font-600;
        }
      }
      &__img-adress {
        max-width: 270px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 14px;
        display: inline-block;
        color: $color-gray4;
        font: {
          size: $font-14;
          weight: $font-500;
        }
      }
      .img-adress-size {
        max-width: 360px;
      }
      &__img-box {
        height: 245px;
      }
      &__img {
        height: 100%;
        border-radius: 8px;
      }
      &__img-height {
        height: 240px;
      }
      &__properties {
        margin-right: 24px;
        display: flex;
        align-items: center;
        line-height: $line-15;
        color: $color-gray5;
        letter-spacing: 0.01em;
        font: {
           size:$font-14;
           weight: $font-400;
        }
        img {
          margin-right: 10px;
        }
      }
     
  }
  /* Bağ evləri hissəsi */
  .title-margin {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  /* advertise-reklam vermə hissəsi*/
  .advertise {
    margin-top: 87px;
   .advertise__title {
    top: 117px;
    left: 57px;
    h3 {
         margin-bottom: 30px;
         line-height: $line-42;
         color: $color-white;
         font: {
           size:$font-28;
           weight:$font-700;
              }
       }
   }
   .advertise__link {
    bottom: 117px;
    left: 57px;
    a{
       padding: 13px 30px;
       display: inline-block;
       background-color: $color-blue;
       line-height: $line-26;
       color: $color-white;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px    0px 1px rgba(0, 0, 0, 0.04);
       border-radius: 6px;
       transition: 250ms all;
       font: {
         size: $font-17;
         weight: $font-400;
       }
       &:hover {
        background-color: #0046b0;
        color: #2cfc0c;
       }
    }  

  }
}

/*================ favori-pages =================*/
.suggestion-title-size {
  margin-bottom: 40px;
  margin-top: 96px;
 }
 .suggestion__like {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #FFFFFF;
&:before {
  content: '\e86a';
  font-family: "heart-like";
  color: red;
  }
}
.navbar-size {
  width: 1197px;
}
/*============= Footer start ====================*/

footer {
  margin-top: 95px;
  padding-top: 71px;
  color: $color-white1 !important;
  background-color: $color-black;
}
.foot-logo {
  line-height: $line-36;
  margin-bottom: 10px;
  color:  $color-white1;
  transition: 200ms all;
  font: {
    weight: $font-700;
    size: $font-24;
  }
  &:hover {
    color: #0cf967;
  }
} 
.foot-text {
  width: 236px;
  line-height: $line-24;
  opacity: 0.88;
  font: {
    size: $font-16;
    weight: $font-400;
  }
}  
.foot-nav {
  h3 {
  line-height: $line-24;
  margin-bottom: 25px;
  font: {
    size: $font-18;
    weight: $font-500;
  }
 }
 li {
  margin-bottom: 14px;
  a {
    line-height: $line-16;
    color: $color-white1;
    transition: 200ms all;
    font: {
      weight: $font-400;
      size: $font-14;
    }
    &:hover {
      color: #cfcfcf;
    }
   }
 }
}
.foot-email {
  right: 0;
  .right-arrow-icon:before {
       content: '\e863'; 
       font-family: 'right-arrow';
  }
  .foot-email {
    margin-right: 10px;
    border-radius: 0;
    background-color: $color-white1;
    line-height: $line-24;
    color: $color-black;
    font: {
        weight:$font-400;
        size: $font-15;
    }
  }
  .foot-label {
    width: 292px;
    margin-bottom: 27px;
    line-height: $line-20;
    font: {
      size: $font-14;
      weight: $font-400;
    }
  }
  .foot-submit {
    border-radius: 4px;
    background-color: $color-white1;
    &:hover {
      color: green;
      background-color: rgba(236, 236, 234, 0.856);
    }
  }
}
/* footer bottom box */
.foot-bottom-box {
 padding: 26px 0 43px 0;
 border-top: 0.3px solid rgba(209, 163, 163, 0.32);
.foot-copyright {
  letter-spacing: -0.204545px;
  color: $color-white1;
  line-height: $line-22;
  font: {
    weight: $font-400;
    size: $font-14;
  }
}
.foot-sosial {
  a {
    margin-left: 44px;
  }
}
.foot-facebook:before {
  content: '\e868'; 
  font-family: "sosial-icon";
  color: $color-white1;
  transition: 220ms all;
}
.foot-facebook:hover:before {
  color: #cfcfcf;
}
.foot-instagram:before {
  content: '\e867';
  font-family: "sosial-icon";
  color: $color-white1;
  transition: 220ms all;
}
.foot-instagram:hover:before {
  color: #cfcfcf;
}
.foot-twetter:before {
  content: '\e866'; 
  font-family: "sosial-icon";
  color: $color-white1;
  transition: 220ms all;
 }
 .foot-twetter:hover:before {
  color: #cfcfcf;
}
}
 
/*================  Detail-page ===================*/
.carousel {

 .slide-button {
  background-color: #F0F0F0;
  color: black;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
 }
 .carousel-btn {
  opacity: 1;
  display: flex;
  &:hover {
    opacity: 0.8;
  }
 }
 .carousel-item-detail {
  width: 744px;
  height: 416px;
  img {
    width: 744px;
    height: 416px;
  }
 }
 .carousel-inner {
   border-radius: 12px 0px 0px 12px;
 }
} /* detail-page caeousel end */
.slide-box {
  margin-right: 16px;
}
.slide-picture-box {
  width: 1200px;
}
.picture-box {
  width: 212px;
  height: 200px;
  padding: 0;
  img {
    width: 212px;
    height: 200px;
  }
  a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
.picture-row  {
  margin-left: 0;
}

.picture-row div:nth-child(2) {
    margin-bottom: 16px;
    img {
      border-radius: 0px 12px 0px 0px;
    }
    }  
.picture-row div:nth-child(4) {
    img {
      border-radius: 0px 0px 12px 0px;
    }
    }     
.picture-row div:nth-child(1) {
    width: 212px;
    margin-right: 16px;
  }
.picture-row div:nth-child(3) {
    width: 212px;
    margin-right: 16px;
  }
  
.detail {
  width: 1200px;
&__title {
  color: #000000;
  margin-top: 60px;
  margin-bottom: 8px;
  line-height: $line-32;
  font: {
    weight: $font-500;
    size: $line-24;
  }
}  
&__about {
  padding: 0;
  color: $color-blue;
  line-height: $line-20;
  font: {
    weight: $font-500;
    size: $font-14;
  }
  li:nth-child(1){
    list-style: none !important;
  }
  li {
    display: flex;
    align-items: center;
    margin-right: 18px;
  }
  li::before {
    content: "\2022";
    color: black;
    font-size: 7px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -11px;
    margin-right: 3px;
  }
  li:nth-child(1)::before {
    content: "";
  }
}
&__subtitle {
  color: #161616;
  line-height: 33px;
  font: {
    weight: $font-500;
    size: 22px;
  }
 }
&__info {
  color: $color-black;
  line-height: $line-24;
  font: {
    weight: $font-400;
    size: $font-16;
  }
} 
&__availability {
  margin-top: 40px;
  margin-bottom: 16px;
}
&__month {
  margin-right: 160px;
}
&__gender {
  margin-top: 50px;
  margin-bottom: 16px;
}
&__detail {
  margin-top: 50px;
}

&__text {
  color: $color-black;
  line-height: $line-24;
  font: {
    weight: $font-400;
    size: $font-16;
  }
}
&__content {
  li {
    margin-top: 36px;
    margin-bottom: 36px;
    color: $color-black;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
    &:hover {
      color: #aba1a1;
    }
  }
}
&__description {
  margin-top: 54px;
  margin-bottom: 16px;
 }
}
.detail__location {
  margin-top: 50px;
  margin-bottom: 24px;
  color: $color-black;
  line-height: $line-27;
  font: {
    weight: $font-500;
    size: $font-18;
  }
}
.detail__map {
  margin-bottom: 71px;
  .gmnoprint {
    top: 25px !important;
    margin-right: 10px !important;
  }
  .gm-svpc {
    margin-top: 115px;
  }
  .gm-style-mtc {
    top: -25px !important;
  }
}
/*   Bron box start  */
.bron {
  border: 1px solid #E5E7EB;
  background-color: $color-white1;
  width: 370px;
  height: 298px;
  padding: 24px 22px 40px 22px;
  box-shadow: 0px 20px 25px rgba(31, 41, 55, 0.1), 0px 10px 10px rgba(31, 41, 55, 0.04);
  border-radius: 8px;
  margin-top: 60px;
  &__money {
    margin-left: 8px;
    color: $color-black3;
    line-height: $line-21;
    font: {
      weight: $font-600;
      size: $font-24;
    }
  }
  &__day {
    margin-left: 4px;
    color: $color-black4;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
  }
  &__slash {
    margin-left: 4px;
    color: $color-black4;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  }
  &__view {
    margin-bottom: 0;
    li {
      color: $color-black4;
      line-height: $line-20;
      font: {
        weight: $font-500;
        size: $font-14;
      }
    }
    li:nth-child(2){
      margin-left: 18px;
    }
    li img{
      margin-right: 7px;
    }
    li:nth-child(2):before {
      content: "\2022";
      color: #6B7280;
      font-size: 7px;
      font-weight: bold;
      display: inline-block; 
      width: 1em;
      margin-left: -11px;
      margin-right: 3px;
    }
  }
  form  {
  input {
    margin-top: 16px;
    letter-spacing: 0.2px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    padding: 11px 21px;
    color: $color-gray6;
    line-height: $line-28;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  }
  div:nth-child(2) {
      margin-bottom: 24px;
    }
  }
  .submit-button {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $color-blue;
    border-radius: 6px;
    line-height: $line-28;
    color: $color-white1;
    letter-spacing: 0.2px;
    font: {
      weight: $font-600;
      size: $font-14;
    }
    &:hover {
      background-color: #1667e1;
      color: #cfffa8;
    }
  }
}