@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Maze&family=Silkscreen:wght@400;700&display=swap");
.slide-btn {
  height: 14px !important;
  width: 14px !important;
  border-radius: 50% !important;
  box-sizing: content-box !important;
}

/*===== slide card start =====*/
.card-body {
  padding: 20px 5px;
}

.card-body__select-col {
  display: flex;
}

/*===== slide top card start =====*/
.navbar {
  top: 38px;
  margin: auto;
  border: none;
  background-color: transparent;
  z-index: 3;
}

.navbar__left-box {
  color: #FDFDFD;
}

.navbar .slide-favori {
  color: #FDFDFD;
  line-height: 40px;
  margin-right: 37px;
  transition: 200ms all;
}

.navbar .slide-favori::before {
  transition: 200ms all;
  margin-right: 10px;
  content: '\e840';
  font-size: 25px;
  font-family: "card-top-icon";
}

.navbar .slide-dropdown {
  margin-right: 37px;
  line-height: 40px;
  transition: 200ms all;
  color: white;
}

.navbar .slide-dropdown::after {
  margin-left: 10px;
  content: '\e841';
  font-family: "icon-vector";
  font-size: 8px;
}

.navbar .user {
  transition: 200ms all !important;
}

.navbar .dropdown-item {
  font-size: 13px;
}

.navbar .Logo {
  padding: 3px 7px;
  border-radius: 20px;
  transition: 200ms all;
}

/*===== slide bottom card start =====*/
.container-card {
  bottom: 36%;
}

.slide-card2 {
  border-radius: 6px;
  z-index: 3;
}

.slide-card2 .select {
  border-right: 1px solid #717171;
  padding: 0 20px;
}

.slide-card2 .select__metro {
  width: 254px;
}

.slide-card2 .select__room {
  width: 96px;
}

.slide-card2 .select__home {
  width: 158px;
}

.slide-card2 .select .form-select {
  height: 23px;
  color: #8B8989;
  font-size: 15px;
  font-weight: 400;
  padding: 0 10px 0 2px !important;
  transition: 180ms all !important;
  cursor: pointer;
}

.slide-card2 .select .form-select:hover {
  color: #272727 !important;
}

.slide-card2 .select .form-label {
  padding-left: 2px;
  color: #272727;
  line-height: 23px;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
}

.slide-card2 .search {
  padding: 0 25px;
}

.slide-card2 .search__text {
  width: 310px;
  border: 1px solid #E6E6E6 !important;
  border-radius: 6px;
  height: 50px;
  margin-right: 10px;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 14px;
  font-line-height: 28px;
  font-style: normal;
}

.slide-card2 .search__submit {
  width: 126px;
  height: 50px;
  background-color: #3E86F5;
  border-radius: 6px;
  color: #FFFFFF;
  transition: 200ms all;
  font-weight: 500;
  font-size: 15px;
}

.slide-card2 .search__submit:hover {
  background-color: #0051cb;
}

.slide-card2 option {
  background-color: #d9d8d8;
}

/*================== Favori Page Nav ======================*/
.dropdown-color {
  color: #272727 !important;
}

.slide-favori-color {
  color: #272727 !important;
}

.elan-box {
  border: 1px solid #e2e2fe;
  border-radius: 4px;
  background-color: #F5F5F5;
}

.logo-size {
  border-radius: 4px !important;
}

.elan-size {
  padding: 0 21px;
  width: 100%;
  display: block;
  color: #3E86F5 !important;
  line-height: 39px;
  background-color: #FDFDFD;
  font-weight: 500;
  font-size: 14px;
}

/* ===================== header page ================== */
/* navbar -> qeydiyyat butonu */
.sing-up-button {
  width: 98px;
  background: #FFFFFF;
  border-radius: 4px;
}

.sing-up-button a {
  line-height: 40px;
  width: 100%;
  display: inline-block;
  color: #3E86F5;
  font-weight: 500;
  font-size: 14px;
}

/* navbar -> daxil ol butonu */
.log-in-button {
  padding-left: 10px;
  margin-right: 37px;
}

.log-in-button a {
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  color: white;
}

@font-face {
  font-family: 'card-top-icon';
  src: url("../font/card-top-icon.eot?35658113");
  src: url("../font/card-top-icon.eot?35658113#iefix") format("embedded-opentype"), url("../font/card-top-icon.woff2?35658113") format("woff2"), url("../font/card-top-icon.woff?35658113") format("woff"), url("../font/card-top-icon.ttf?35658113") format("truetype"), url("../font/card-top-icon.svg?35658113#card-top-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'card-top-icon';
      src: url('../font/card-top-icon.svg?35658113#card-top-icon') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "card-top-icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before {
  content: '\e83e';
}

/* '' */
.icon-vector:before {
  content: '\e840';
}

/* '' */
@font-face {
  font-family: 'icon-vector';
  src: url("../font/icon-vector.eot?40844373");
  src: url("../font/icon-vector.eot?40844373#iefix") format("embedded-opentype"), url("../font/icon-vector.woff2?40844373") format("woff2"), url("../font/icon-vector.woff?40844373") format("woff"), url("../font/icon-vector.ttf?40844373") format("truetype"), url("../font/icon-vector.svg?40844373#icon-vector") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icon-vector';
      src: url('../font/icon-vector.svg?40844373#icon-vector') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon-vector";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vector-2:before {
  content: '\e841';
}

/* '' */
/*===== kateqoriya iconlar =====*/
@font-face {
  font-family: 'category';
  src: url("../font/category.eot?94116840");
  src: url("../font/category.eot?94116840#iefix") format("embedded-opentype"), url("../font/category.woff2?94116840") format("woff2"), url("../font/category.woff?94116840") format("woff"), url("../font/category.ttf?94116840") format("truetype"), url("../font/category.svg?94116840#category") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'category';
      src: url('../font/category.svg?94116840#category') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "category";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-category1:before {
  content: '\e847';
}

/* '' */
.icon-category3:before {
  content: '\e84a';
}

/* '' */
.icon-category2:before {
  content: '\e84b';
}

/* '' */
@font-face {
  font-family: 'user-icons';
  src: url("../font/user-icons.eot?62041079");
  src: url("../font/user-icons.eot?62041079#iefix") format("embedded-opentype"), url("../font/user-icons.woff2?62041079") format("woff2"), url("../font/user-icons.woff?62041079") format("woff"), url("../font/user-icons.ttf?62041079") format("truetype"), url("../font/user-icons.svg?62041079#user-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'user-icons';
      src: url('../font/user-icons.svg?62041079#user-icons') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "user-icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-7148755_user_avatar_profile_person_people_icon:before {
  content: '\e844';
}

/* '' */
.icon-4473009_personal-icon_user_user-icon_user-outline-icon_users-icon_icon:before {
  content: '\e84d';
}

/* '' */
/* fotter right-arrow */
@font-face {
  font-family: 'right-arrow';
  src: url("../font/right-arrow.eot?32225618");
  src: url("../font/right-arrow.eot?32225618#iefix") format("embedded-opentype"), url("../font/right-arrow.woff2?32225618") format("woff2"), url("../font/right-arrow.woff?32225618") format("woff"), url("../font/right-arrow.ttf?32225618") format("truetype"), url("../font/right-arrow.svg?32225618#right-arrow") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {

      font-family: 'right-arrow';
      src: url('../font/right-arrow.svg?32225618#right-arrow') format('svg');

    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "right-arrow";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-right-solid:before {
  content: '\e863';
}

/* '' */
@font-face {
  font-family: 'sosial-icon';
  src: url("../font/sosial-icon.eot?65914616");
  src: url("../font/sosial-icon.eot?65914616#iefix") format("embedded-opentype"), url("../font/sosial-icon.woff2?65914616") format("woff2"), url("../font/sosial-icon.woff?65914616") format("woff"), url("../font/sosial-icon.ttf?65914616") format("truetype"), url("../font/sosial-icon.svg?65914616#sosial-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'sosial-icon';
      src: url('../font/sosial-icon.svg?65914616#sosial-icon') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sosial-icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-path:before {
  content: '\e866';
}

/* '' */
.icon-004-instagram:before {
  content: '\e867';
}

/* '' */
.icon-path:before {
  content: '\e868';
}

/* '' */
@font-face {
  font-family: 'heart-like';
  src: url("../font/heart-like.eot?19484137");
  src: url("../font/heart-like.eot?19484137#iefix") format("embedded-opentype"), url("../font/heart-like.woff2?19484137") format("woff2"), url("../font/heart-like.woff?19484137") format("woff"), url("../font/heart-like.ttf?19484137") format("truetype"), url("../font/heart-like.svg?19484137#heart-like") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'heart-like';
      src: url('../font/heart-like.svg?19484137#heart-like') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "heart-like";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart-empty:before {
  content: '\e800';
}

/* '' */
.icon-heart-1:before {
  content: '\e803';
}

/* '' */
.icon-vector:before {
  content: '\e86a';
}

/* '' */
.icon-bi_heart:before {
  content: '\e86b';
}

/* '' */
/* elan ver page 2 icons */
@font-face {
  font-family: 'techizat-icon';
  src: url("../font/techizat-icon.eot?67353351");
  src: url("../font/techizat-icon.eot?67353351#iefix") format("embedded-opentype"), url("../font/techizat-icon.woff2?67353351") format("woff2"), url("../font/techizat-icon.woff?67353351") format("woff"), url("../font/techizat-icon.ttf?67353351") format("truetype"), url("../font/techizat-icon.svg?67353351#techizat-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'techizat-icon';
      src: url('../font/techizat-icon.svg?67353351#techizat-icon') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "techizat-icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-frame-1:before {
  content: '\e86f';
}

/* '' */
.icon-1611-heating-radiator-outline:before {
  content: '\e876';
}

/* '' */
.icon-821-airconditioner-outline:before {
  content: '\e877';
}

/* '' */
.icon-514-pool-outline:before {
  content: '\e878';
}

/* '' */
.icon-513-laundry-outline:before {
  content: '\e87a';
}

/* '' */
.icon-64-wifi-outline:before {
  content: '\e87b';
}

/* '' */
.icon-car-parking-1:before {
  content: '\e87c';
}

/* '' */
.icon-cil_shower:before {
  content: '\e87d';
}

/* '' */
.icon-icons8_football2:before {
  content: '\e87e';
}

/* '' */
.icon-frame-1815:before {
  content: '\e881';
}

/* '' */
.icon-frame-1815:before {
  content: '\e882';
}

/* '' */
.icon-microphone-svgrepo-com:before {
  content: '\e885';
}

/* '' */
.icon-frame-1321315451:before {
  content: '\e886';
}

/* '' */
@font-face {
  font-family: 'detail';
  src: url("../font/detail.eot?67926740");
  src: url("../font/detail.eot?67926740#iefix") format("embedded-opentype"), url("../font/detail.woff2?67926740") format("woff2"), url("../font/detail.woff?67926740") format("woff"), url("../font/detail.ttf?67926740") format("truetype"), url("../font/detail.svg?67926740#detail") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'detail';
      src: url('../font/detail.svg?67926740#detail') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "detail";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cigarette-1:before {
  content: '\e86d';
}

/* '' */
.icon-d67b9cb2-d99c-4cd8-a3b4-61452ad3be93:before {
  content: '\e893';
}

/* '' */
.icon-couple-svgrepo-com:before {
  content: '\e899';
}

/* '' */
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  text-decoration: 0 !important;
  list-style: none;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #FDFDFD;
}

/* Chrome, Safari, Edge, Opera -> input number arrow hide*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox -> input number arrow hide*/
input[type=number] {
  -moz-appearance: textfield;
}

.advertised ::placeholder, .sing-up ::placeholder, .log-in ::placeholder, .card-body ::placeholder {
  color: #C0C0C0;
  /* Firefox */
}

.advertised :-ms-input-placeholder, .sing-up :-ms-input-placeholder, .log-in :-ms-input-placeholder, .card-body :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #C0C0C0;
}

.advertised ::-ms-input-placeholder, .sing-up ::-ms-input-placeholder, .log-in ::-ms-input-placeholder, .card-body ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #C0C0C0;
}

/* ======= == sing-up-page.html responsive ========= */
@media only screen and (max-width: 1199px) {
  .sing-up__title {
    display: none;
  }
  .sing-up__picture-box {
    width: 100%;
  }
  .sing-up__form-col {
    position: absolute;
    z-index: 4;
    bottom: 0;
    top: 0;
    background: #d7d7d7;
    left: 0;
    height: 100%;
    width: 100%;
    filter: opacity(0.8);
  }
}

@media only screen and (max-width: 575.98px) {
  .sing-up__form-box {
    width: 360px;
  }
}

/* ========== login-page.html responsive ========== */
@media only screen and (max-width: 1199px) {
  .log-in__title {
    display: none;
  }
  .log-in__picture-box {
    width: 100%;
  }
  .log-in__form-col {
    position: absolute;
    z-index: 4;
    bottom: 0;
    top: 0;
    background: #d7d7d7;
    left: 0;
    height: 100%;
    width: 100%;
    filter: opacity(0.8);
  }
}

@media (max-width: 575.98px) {
  .log-in__form-box {
    width: 360px;
  }
}

/* ============= index.html responnsive =========== */
@media (min-width: 1200px) {
  /* menu */
  .container {
    max-width: 1224px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* card section */
  .slide-card2 .select__metro {
    width: 230px;
  }
  .slide-card2 .select__room {
    width: 92px;
  }
  .slide-card2 .select__home {
    width: 141px;
  }
  .slide-card2 .search__text {
    width: 220px;
  }
  .slide-card2 .search__submit {
    width: 110px;
  }
  .slide-card2 .select {
    padding: 0 13px;
  }
  .card-body {
    padding: 12px 5px;
  }
  /* rent box */
  .rent-boxs .rent-day {
    padding: 60px 20px;
  }
  .rent-boxs .rent-month {
    padding: 60px 20px;
  }
  .rent-boxs .sale {
    padding: 60px 20px;
    width: 170px;
  }
  .rent-boxs p {
    width: 170px;
  }
  /*category */
  .category .category-box {
    margin-right: 10px;
  }
  /* slide picture height */
  .carousel .carousel-inner div {
    height: 610px;
  }
  .carousel .carousel-inner div img {
    height: 610px;
  }
  /* content section */
  .suggestion__col-middle {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* card section */
  .container-card {
    bottom: 18%;
  }
  .card-body {
    padding: 16px;
  }
  .card-body__select-col {
    display: block;
  }
  .card-body__select-col div:nth-child(n + 2) {
    margin-top: 20px;
  }
  .card-body__select-col .select {
    padding: 0;
    border-right: none;
  }
  .card-body__select-col .select__room {
    width: 100%;
  }
  .card-body__select-col .select__home {
    width: 100%;
  }
  .card-body__select-col .select__metro {
    width: 100%;
  }
  .card-body__select-col .search {
    padding: 0;
  }
  .card-body__select-col .search div:nth-child(2) {
    margin-top: 10px;
  }
  .card-body__select-col .search .search__text {
    width: 100%;
  }
  .card-body__select-col .search .search__submit {
    width: 100%;
  }
  .category {
    text-align: center;
    display: block !important;
  }
  .category-box {
    margin: auto !important;
  }
  .suggestion__img-box {
    max-width: 245px;
    height: 210px;
  }
  .suggestion__img-height {
    height: 190px;
    max-width: 166px;
  }
  .suggestion__img-title {
    font-size: 17px;
  }
  .suggestion__img-adress {
    font-size: 12px;
  }
  .suggestion__properties {
    font-size: 11px;
    margin-right: 7px;
  }
  .margin-size .col:nth-child(1) {
    margin-right: 11px;
  }
  .margin-size .col:nth-child(2) {
    margin-right: 11px;
  }
  .margin-size .col:nth-last-child(1) {
    margin-left: 11px;
  }
  .suggestion__img-adress {
    max-width: 157px;
  }
  .suggestion .img-adress-size {
    max-width: 205px;
  }
  .foot-top-box {
    display: block !important;
  }
  .foot-top-box div:nth-child(1) {
    justify-content: space-between;
  }
  .foot-top-box .foot-email-box {
    margin-bottom: 140px;
  }
  .foot-top-box .foot-email {
    left: 0;
  }
}

/*===== carousel background =====*/
.carousel__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
}

/*===== kateqoriya=====*/
.category {
  margin-top: 70px;
  margin-bottom: 60px;
}

.category .category-box {
  max-width: 335px;
  margin-right: 112px;
}

.category .category-box .category-box__text {
  color: #3E86F5;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
}

.category .category-box .category-box__title {
  color: #282C4B;
  line-height: 53px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
}

.category .category-box .category-box__about {
  max-width: 335px;
  line-height: 32px;
  color: #747582;
  font-weight: 400;
  font-size: 18px;
}

/*===== satılıq, kirayə evlər =====*/
.rent-boxs .sale {
  max-width: 251px;
  max-height: 287px;
  padding: 60px 40px;
}

.rent-boxs .rent-month {
  max-width: 251px;
  max-height: 287px;
  padding: 60px 40px;
}

.rent-boxs .rent-day {
  max-width: 251px;
  max-height: 287px;
  padding: 60px 40px;
  background: #FFFFFF;
  box-shadow: 40px 0px 70px rgba(121, 121, 121, 0.05), -40px 100px 70px rgba(121, 121, 121, 0.05);
}

.rent-boxs h3 {
  margin-top: 15px;
  margin-bottom: 19px;
  line-height: 25px;
  color: #14183E;
  font-weight: 500;
  font-size: 20px;
}

.rent-boxs p {
  max-width: 179px;
  line-height: 27px;
  color: #747582;
  font-weight: 400;
  font-size: 16px;
}

.rent-boxs .sale__icon::before {
  content: '\e847';
  font-family: "category";
  font-size: 35px;
  color: #593FFB;
}

.rent-boxs .rent-month__icon::before {
  content: '\e84b';
  font-family: "category";
  font-size: 35px;
  color: #80CC28;
}

.rent-boxs .rent-day__icon::before {
  content: '\e84a';
  font-family: "category";
  font-size: 35px;
  color: #FB3F6C;
}

/* ========== heart like button ==========*/
.key {
  display: none;
}

.immg {
  position: absolute;
  left: 0;
}

/*============ Önə çıxan təkliflər hissəsi and content start ===============*/
figure {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 68px 84px -48px rgba(226, 238, 249, 0.6);
  border-radius: 10px;
  margin-bottom: 20px;
}

figcaption {
  padding-left: 10px;
  padding-bottom: 25px;
}

.margin-size .col:nth-last-child(1) {
  margin-left: 20px;
}

.margin-size .col:nth-child(2) {
  margin-right: 20px;
}

.margin-size .col:nth-child(1) {
  margin-right: 20px;
}

.suggestion__title-box {
  padding: 0;
}

.suggestion__detail-link {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
}

.suggestion__title {
  line-height: 35px;
  color: #282C4B;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 32px;
}

.suggestion__text {
  margin-bottom: 40px;
  line-height: 30px;
  color: #5A6473;
  font-weight: 400;
  font-size: 18px;
}

.suggestion__link {
  color: #3E86F5;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}

.suggestion__link img {
  margin-left: 13px;
}

.suggestion__like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #FFFFFF;
  z-index: 5;
  cursor: pointer;
}

.suggestion__col-middle {
  margin-right: 20px;
  margin-left: 20px;
}

.suggestion__img-title {
  margin-top: 13px;
  margin-bottom: 12px;
  color: #000339;
  line-height: 21px;
  font-size: 20px;
  font-weight: 600;
}

.suggestion__img-adress {
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 14px;
  display: inline-block;
  color: #A3A6AB;
  font-size: 14px;
  font-weight: 500;
}

.suggestion .img-adress-size {
  max-width: 360px;
}

.suggestion__img-box {
  max-width: 387px;
  height: 245px;
}

.suggestion__img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.suggestion__img-height {
  height: 240px;
  max-width: 285px;
}

.suggestion__properties {
  margin-right: 24px;
  display: flex;
  align-items: center;
  line-height: 15px;
  color: #4D4D52;
  letter-spacing: 0.01em;
  font-size: 14px;
  font-weight: 400;
}

.suggestion__properties img {
  margin-right: 10px;
}

/* Bağ evləri hissəsi */
.title-margin {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* advertise-reklam vermə hissəsi*/
.advertise {
  margin-top: 87px;
}

.advertise__box {
  left: 57px;
}

.advertise .advertise__title h3 {
  margin-bottom: 30px;
  line-height: 42px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
}

.advertise .advertise__link a {
  padding: 13px 30px;
  display: inline-block;
  background-color: #3E86F5;
  line-height: 26px;
  color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  transition: 250ms all;
  font-size: 17px;
  font-weight: 400;
}

.advertise .advertise__link a:hover {
  background-color: #0046b0;
  color: #2cfc0c;
}

/*================ favori-pages =================*/
.suggestion-title-size {
  margin-bottom: 40px;
  margin-top: 96px;
}

.navbar-size {
  width: 1197px;
}

/*================  Detail-page ===================*/
/* picture section -> right bar start */
.gall {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.gall .imgthumb,
.gall .imgcont {
  background-color: transparent;
  width: 100%;
}

.gall .thumbbox {
  top: -15px;
  position: relative;
  background-color: transparent;
  height: 58px;
  overflow: hidden;
  padding: 0;
  border: solid 2px grey;
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.gall .imgthumb {
  position: absolute;
  display: block;
  top: 0;
  padding: 0;
  height: 100%;
  width: 1000px;
  background-color: #222222;
  text-align: left;
}

.gall .imgcont {
  padding-bottom: 5px;
  display: inline-block;
  border: solid 2px grey;
  border-radius: 8px;
}

.gall .imgthumb img {
  display: inline-block;
  margin: 4px 0px 0 8px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
}

.gall .imgcont img,
.gall .imgcont span {
  display: inline-block;
}

.gall .imgcont img {
  border-radius: 5px;
  margin-top: 5px;
  width: 98%;
  cursor: pointer;
}

.gall .btnl,
.gall .btnr {
  padding: 2px 5px 2px 5px;
  border: solid 2px grey;
  border-radius: 8px;
  background-color: #222222;
  min-height: 18px;
  font: bolder 14px san-serif;
  color: #dddddd;
  cursor: pointer;
}

.gall .btnl {
  position: absolute;
  left: 4px;
  bottom: 30px;
}

.gall .btnr {
  float: right;
  position: absolute;
  right: 4px;
  bottom: 30px;
}

/* float win */
.gall .overlayer,
.gall .outerframe {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 0;
}

.gall .overlayer {
  background-color: #222222;
  opacity: 0.75;
}

.gall .outerframe .outerbox {
  position: relative;
  top: 20px;
  margin: 0 auto 0 auto;
  z-index: 10;
  opacity: 1;
}

.gall .imgbox {
  position: relative;
  width: auto;
  display: inline-block;
}

.gall .img {
  position: relative;
  opacity: 1;
  z-index: 10;
  border-radius: 8px;
  border: solid 3px grey;
}

.gall .desc,
.gall .close,
.gall .less,
.gall .greater,
.gall .displ {
  padding: 2px 10px 2px 10px;
  border: solid 3px grey;
  border-radius: 8px;
  background-color: #333333;
  min-height: 18px;
  font: bolder 14px Arial, san-serif;
}

.gall .desc {
  position: relative;
  top: -18px;
  z-index: 15;
  display: inherit;
  font: bolder 14px Arial, san-serif;
  background-color: #333333;
}

.gall .close,
.gall .less,
.gall .greater,
.gall .displ {
  z-index: 15;
  top: -13px;
  color: #dddddd;
  text-decoration: none;
  font-weight: bolder;
  font-family: sans-serif;
}

.gall .inactive {
  color: grey;
}

.gall .close {
  position: absolute;
  right: 10px;
}

.gall .btntop {
  position: absolute;
  top: -9px;
  z-index: 15;
  width: 100%;
}

/* turn back button*/
.turn-back-button {
  top: 20px;
  left: 20px;
}

/* picture section -> right bar end */
.carousel .slide-button {
  background-color: #F0F0F0;
  color: black;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.carousel .carousel-btn {
  opacity: 1;
  display: flex;
}

.carousel .carousel-btn:hover {
  opacity: 0.8;
}

.carousel .carousel-item-detail {
  width: 744px;
  height: 416px;
}

.carousel .carousel-item-detail img {
  width: 744px;
  height: 416px;
}

.carousel .carousel-inner {
  border-radius: 12px 0px 0px 12px;
}

.carousel .carousel-inner div {
  height: 683px;
}

.carousel .carousel-inner div img {
  height: 683px;
}

/* detail-page caeousel end */
.slide-box {
  margin-right: 16px;
}

.slide-picture-box {
  width: 1200px;
}

.picture-box {
  width: 212px;
  height: 200px;
  padding: 0;
}

.picture-box img {
  width: 100%;
  height: 100%;
  transition: 200ms all;
}

.picture-box img:hover {
  opacity: 0.7;
}

.picture-box a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.picture-row {
  margin-left: 0;
}

.picture-row div:nth-child(2) {
  margin-bottom: 16px;
}

.picture-row div:nth-child(2) img {
  border-radius: 0px 12px 0px 0px;
}

.picture-row div:nth-child(4) img {
  border-radius: 0px 0px 12px 0px;
}

.picture-row div:nth-child(1) {
  width: 212px;
  margin-right: 16px;
}

.picture-row div:nth-child(3) {
  width: 212px;
  margin-right: 16px;
}

.detail-nav-button {
  border: 1px solid #3E86F5;
  background-color: #FFFFFF;
}

.detail-nav-button a {
  border-radius: 4px;
}

.detail-navbar-row {
  margin-top: 42px;
  margin-bottom: 42px;
}

.detail-navbar {
  z-index: 0;
  top: 0;
}

.detail {
  width: 1200px;
}

.detail__title {
  color: #000000;
  margin-top: 60px;
  margin-bottom: 8px;
  line-height: 32px;
  font-weight: 500;
  font-size: 24px;
}

.detail__about {
  padding: 0;
  color: #3E86F5;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
}

.detail__about li:nth-child(1) {
  list-style: none !important;
}

.detail__about li {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.detail__about li::before {
  content: "\2022";
  color: black;
  font-size: 7px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -11px;
  margin-right: 3px;
}

.detail__about li:nth-child(1)::before {
  content: "";
}

.detail__subtitle {
  color: #161616;
  line-height: 33px;
  font-weight: 500;
  font-size: 22px;
}

.detail__info {
  color: #272727;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.detail__availability {
  margin-top: 40px;
  margin-bottom: 16px;
}

.detail__month {
  margin-right: 160px;
}

.detail__gender {
  margin-top: 50px;
  margin-bottom: 16px;
}

.detail__detail {
  margin-top: 50px;
}

.detail__text {
  color: #272727;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.detail__content li {
  margin-top: 36px;
  margin-bottom: 36px;
  color: #272727;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.detail__description {
  margin-top: 54px;
  margin-bottom: 16px;
}

.detail__location {
  margin-top: 50px;
  margin-bottom: 24px;
  color: #272727;
  line-height: 27px;
  font-weight: 500;
  font-size: 18px;
}

.detail__map {
  margin-bottom: 71px;
  /* map button position*/
}

.detail__map .gmnoprint {
  top: 25px !important;
  margin-right: 10px !important;
}

.detail__map .gm-svpc {
  margin-top: 115px;
}

.detail__map .gm-style-mtc {
  top: -25px !important;
}

/*   Bron box start  */
.bron {
  border: 1px solid #E5E7EB;
  background-color: #FDFDFD;
  width: 370px;
  height: 298px;
  padding: 24px 22px 40px 22px;
  box-shadow: 0px 20px 25px rgba(31, 41, 55, 0.1), 0px 10px 10px rgba(31, 41, 55, 0.04);
  border-radius: 8px;
  margin-top: 60px;
}

.bron__money {
  margin-left: 8px;
  color: #000339;
  line-height: 21px;
  font-weight: 600;
  font-size: 24px;
}

.bron__day {
  margin-left: 4px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.bron__slash {
  margin-left: 4px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
}

.bron__view {
  margin-bottom: 0;
}

.bron__view li {
  color: #000000;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
}

.bron__view li:nth-child(2) {
  margin-left: 18px;
}

.bron__view li img {
  margin-right: 7px;
}

.bron__view li:nth-child(2):before {
  content: "\2022";
  color: #6B7280;
  font-size: 7px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -11px;
  margin-right: 3px;
}

.bron form input {
  margin-top: 16px;
  letter-spacing: 0.2px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  padding: 11px 21px;
  color: #9F9F9F;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
}

.bron form div:nth-child(2) {
  margin-bottom: 24px;
}

.bron .submit-button {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #3E86F5;
  border-radius: 6px;
  line-height: 28px;
  color: #FDFDFD;
  letter-spacing: 0.2px;
  font-weight: 600;
  font-size: 14px;
}

.bron .submit-button:hover {
  background-color: #1667e1;
  color: #cfffa8;
}

/* ================== Elan ver pages start ===============*/
/* ------------- Elan ver page-1 ------------*/
.advertised {
  margin-top: 3px;
  width: 592px;
  /* kirayə kateqoriya buttonları */
  /* Hansı tarixdə köçmək olar buttonu */
  /* şəhər seçmə buttonu */
  /* qiymət yazma buttonu */
  /* ev haqqında məlumat */
  /* şəkil əlavə etmə buttonu */
  /* Geri və iləri buttonları */
}

.advertised__check {
  padding: 0 20px;
}

.advertised__title {
  margin-bottom: 10px;
  color: #282C4B;
  line-height: 35px;
  font-weight: 600;
  font-size: 32px;
}

.advertised__subtitle {
  margin-top: 30px;
  margin-bottom: 14px;
  color: #161616;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
}

.advertised__category-button {
  color: #000000;
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  width: 184px;
  transition: 200ms all;
  position: relative;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.advertised__category-button:hover {
  border-color: #859ab0;
}

.advertised__rent {
  height: 48px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.advertised__category-choose {
  transition: 300ms all;
  border-radius: 6px;
  border: 1px solid #E2E8EE;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.advertised__rent:checked + .advertised__category-choose {
  color: white;
  background-color: #00bcd4;
}

.advertised__move-date {
  padding: 13px 17px;
  border: 1px solid #E2E8EE;
}

.advertised__move-date:hover {
  border: 1px solid  #859ab0;
  border-radius: 6px;
}

.advertised__city-select {
  -webkit-appearance: none !important;
  border-radius: 4px;
  padding: 19px 17px;
  color: #161616;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.advertised__city-select-toggle::after {
  content: none;
}

.advertised__city-select:hover {
  border: 1px solid  #859ab0;
}

.advertised__city {
  margin-bottom: 8px;
  color: #161616;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.advertised__space {
  margin-top: 30px;
  margin-bottom: 14px;
}

.advertised__price-box {
  padding: 19px 17px;
  color: #C0C0C0;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.advertised__price-box:hover {
  border: 1px solid #859ab0;
}

.advertised__value {
  position: absolute;
  margin-left: 48px;
  color: #161616;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.advertised select, .advertised input {
  border: 1px solid #E2E8EE;
}

.advertised__about-home {
  padding: 19px 17px;
  width: 590px;
  height: 97px;
  max-height: 98px;
  color: #C0C0C0;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.advertised__about-home:hover {
  border: 1px solid #859ab0;
}

.advertised__choose-button {
  padding: 10px 24px;
  color: #3E86F5;
  line-height: 170%;
  background: #DFE4EC;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

.advertised__choose-text {
  color: #3A3A3A;
  line-height: 130%;
  font-weight: 400;
  font-size: 14px;
}

.advertised__home-picture {
  opacity: 0;
  border: none !important;
  box-shadow: none !important;
}

.advertised__home-picture:hover {
  box-shadow: none;
}

.advertised__home-picture:valid {
  opacity: 1;
}

.advertised__home-picture:valid .advertised__choose-text {
  opacity: 0;
}

.advertised__picture-box {
  cursor: pointer;
  border-radius: 8px;
  padding: 26px 17px;
  border: 1px dashed #E2E8EE;
  transition: 200ms all;
}

.advertised__picture-box:hover {
  border: 1px solid #859ab0;
}

.advertised__other-picture {
  margin-top: 14px;
  margin-bottom: 30px;
}

.advertised__prew-next {
  border: 1px solid #E2E8EE !important;
  width: 184px;
  padding: 0;
  border-radius: 6px;
}

.advertised__prew-next a {
  display: inline-block;
  width: 100%;
  color: #3A3A3A;
  line-height: 48px;
  font-weight: 500;
  font-size: 14px;
}

.advertised__prew-next:hover {
  border: 1px solid #859ab0;
  background-color: #3E86F5;
}

.advertised__prew-next:hover a {
  color: #FDFDFD;
  font-weight: 600;
}

input.advertised__home-picture::file-selector-button {
  display: none;
}

/* ----- Elan ver page-2 detallar -- --*/
.advertised {
  width: 590px;
  /* detallaı seçmə. adam, otaq, hamam, yataq sayı seçmə butonları */
  /* Təchizatlar */
  /* icazə verilir section */
}

.advertised__details-title {
  margin-top: 14px;
  color: #161616;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.advertised__details {
  height: 48px;
}

.advertised__equipment {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 62px;
  border-radius: 6px;
}

.advertised__equipment span {
  color: #272727;
  line-height: 27px;
  font-weight: 400;
  font-size: 16px;
}

.advertised__tv::before {
  font-family: "detail";
  content: '\e893';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__wifi::before {
  font-family: 'techizat-icon';
  content: '\e87b';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__paltaryuyan::before {
  font-family: 'techizat-icon';
  content: '\e87a';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__kondisoner::before {
  font-family: 'techizat-icon';
  content: '\e877';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__qızdırıcı::before {
  font-family: 'techizat-icon';
  content: '\e876';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__lift::before {
  font-family: 'techizat-icon';
  content: '\e881';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__parking::before {
  font-family: 'techizat-icon';
  content: '\e87c';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__terras::before {
  font-family: 'techizat-icon';
  content: '\e882';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__hovuz::before {
  font-family: 'techizat-icon';
  content: '\e878';
  margin-right: 16px;
  font-size: 26px;
}

.advertised__səs::before {
  font-family: 'techizat-icon';
  content: '\e885';
  margin-right: 16px;
  font-size: 22px;
}

.advertised__meydan::before {
  font-family: 'techizat-icon';
  content: '\e87e';
  margin-right: 16px;
  font-size: 24px;
}

.advertised__bilyard::before {
  font-family: 'techizat-icon';
  content: '\e886';
  margin-right: 16px;
  border: 1px solid #272727;
  border-radius: 50%;
  font-size: 22px;
}

.advertised__caqquzi::before {
  font-family: 'techizat-icon';
  content: '\e87d';
  font-size: 28px;
  position: absolute;
  left: 16px;
  top: 15px;
}

.advertised__cigarette::before {
  font-family: "detail";
  content: '\e86d';
  margin-right: 16px;
  font-size: 24px;
  color: #272727;
}

.advertised__couple::before {
  font-family: "detail";
  content: '\e899';
  font-size: 46px;
  position: absolute;
  margin-top: 8px;
  left: -37px;
  color: #272727;
}

.advertised__techizat {
  margin-top: 10px;
}

.advertised__equipment-size {
  width: 285px;
  margin-bottom: 30px;
}

.advertised__choose-button {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.advertised__equipment input:checked ~ .advertised__change-color {
  color: #3E86F5;
}

.advertised__equipment input:checked ~ .advertised__change-color::before {
  color: #3E86F5;
}

.advertised__equipment input:checked ~ .advertised__change-color::before {
  border-color: #3E86F5;
}

.advertised__choose-button-border {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #E2E8EE;
  border-radius: 6px;
}

.advertised__choose-button:checked + .advertised__choose-button-border {
  border: 1px solid #3E86F5;
}

/* ------- Elan ver page 4 ------*/
.advertised__next-prew-button {
  margin-top: 30px;
  margin-bottom: 217px;
}

.advertised__contact-box {
  width: 285px;
  height: 62px;
}

.advertised__contact-title {
  color: #161616;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.advertised__subtitle-weight {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

.advertised__name-lastname-box {
  height: 62px;
}

.advertised__person-radio {
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.advertised__person-radio-box {
  margin-top: 12px;
  margin-bottom: 2px;
}

.advertised__person-radio-box label {
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

/*----- elan ver succes page -----*/
.advertised__succes-img {
  margin-top: 66px;
  margin-bottom: 46px;
}

.advertised__success-title {
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
}

.advertised__success-info {
  width: 203px;
  color: #7B7B7B;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.advertised__success-info-box {
  width: 203px;
  margin-top: 9px;
  margin-bottom: 24px;
}

.advertised__success-details {
  width: 255px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #4D4D4D;
  line-height: 21px;
  font-weight: 500;
  font-size: 14px;
}

.advertised__success-details:hover {
  border: 1px solid #cfdbe8;
  background-color: #ffffff;
}

/*----- elan ver failed page -----*/
.advertised__failed-img-box {
  margin-top: 66px;
  margin-bottom: 46px;
}

/*============== Qeydiyyatdan keç səhifəsi ==============*/
.sing-up {
  background-color: #FDFDFD;
  display: flex;
}

.sing-up__picture-box {
  position: relative;
  height: 100vh;
  width: 730px;
}

.sing-up img {
  height: 100%;
  width: 100%;
}

.sing-up__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
}

.sing-up__title {
  position: absolute;
  z-index: 5;
}

.sing-up__title h1 {
  color: #FFFFFF;
  line-height: 60px;
  font-weight: 600;
  font-size: 40px;
}

.sing-up__title span {
  color: #CFCFCF;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
}

.sing-up__form-title {
  margin-bottom: 20px;
  color: #393939;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 28px;
}

.sing-up__form-box {
  width: 400px;
}

.sing-up__form label {
  margin-top: 14px;
  color: #393939;
  line-height: 28px;
  font-weight: 500;
  font-size: 16px;
}

.sing-up__form input {
  height: 45px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.sing-up__form input:hover {
  border: 1px solid #859ab0;
}

.sing-up__submit-button {
  margin-top: 28px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
}

/* ================ Login pages ================ */
.log-in {
  background-color: #FDFDFD;
  display: flex;
  /*----- error password ------*/
}

.log-in__picture-box {
  position: relative;
  height: 100vh;
  width: 730px;
}

.log-in img {
  height: 100%;
  width: 100%;
}

.log-in__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
}

.log-in__title {
  position: absolute;
  z-index: 5;
}

.log-in__title h1 {
  color: #FFFFFF;
  line-height: 60px;
  font-weight: 600;
  font-size: 40px;
}

.log-in__title span {
  color: #CFCFCF;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
}

.log-in__form-title {
  margin-bottom: 20px;
  color: #393939;
  line-height: 42px;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 28px;
}

.log-in__form-box {
  width: 400px;
}

.log-in__form label {
  margin-top: 14px;
  color: #393939;
  line-height: 28px;
  font-weight: 500;
  font-size: 16px;
}

.log-in__input {
  height: 45px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.log-in__input:hover {
  border: 1px solid #859ab0;
}

.log-in__check-box {
  padding-left: 0;
}

.log-in__check-box label {
  display: flex;
  color: #666666;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.log-in__check-box span a {
  color: #32568A;
  transition: 200ms all;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.log-in__check-box span a:hover {
  color: #8c98aa;
}

.log-in__check-arrow {
  cursor: pointer;
  position: relative;
  border: 1px solid #D9D9D9;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  appearance: none;
  margin-right: 11px;
  transition: 250ms all;
}

.log-in__check-arrow:hover {
  border-color: #859ab0;
}

.log-in__check-arrow:checked {
  background-image: url(../img/chck.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: none;
}

.log-in__submit-button {
  margin-top: 28px;
  margin-bottom: 14px;
}

.log-in__submit-button a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

.log-in__submit-button {
  color: #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

.log-in__create-account span {
  line-height: 18px;
  color: #32568A;
  font-size: 16px;
  font-weight: 400;
}

.log-in__create-account a {
  text-decoration: underline !important;
  line-height: 18px;
  color: #3E86F5;
  transition: 200ms all;
  font-size: 16px;
  font-weight: 500;
}

.log-in__create-account a:hover {
  color: #0056d7;
}

.log-in__error-password label {
  color: #D92020;
}

.log-in__error-password input {
  border-color: #D92020;
  color: #D92020;
}

/* ============== Update password2 page ============== */
.update-password-box input {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
}

/* ============= Bağ, həyət, bina evləri start ====== */
/* ================== Footer start ================== */
footer {
  margin-top: 95px;
  padding-top: 71px;
  color: #FDFDFD !important;
  background-color: #272727;
}

.foot-logo {
  line-height: 36px;
  margin-bottom: 10px;
  color: #FDFDFD;
  transition: 200ms all;
  font-weight: 700;
  font-size: 24px;
}

.foot-logo:hover {
  color: #0cf967;
}

.foot-text {
  width: 236px;
  line-height: 24px;
  opacity: 0.88;
  font-size: 16px;
  font-weight: 400;
}

.foot-nav h3 {
  line-height: 24px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}

.foot-nav li {
  margin-bottom: 14px;
}

.foot-nav li a {
  line-height: 16px;
  color: #FDFDFD;
  transition: 200ms all;
  font-weight: 400;
  font-size: 14px;
}

.foot-nav li a:hover {
  color: #cfcfcf;
}

.foot-email {
  right: 0;
}

.foot-email .right-arrow-icon:before {
  content: '\e863';
  font-family: 'right-arrow';
}

.foot-email .foot-email {
  margin-right: 10px;
  border-radius: 0;
  background-color: #FDFDFD;
  line-height: 24px;
  color: #272727;
  font-weight: 400;
  font-size: 15px;
}

.foot-email .foot-label {
  width: 292px;
  margin-bottom: 27px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.foot-email .foot-submit {
  border-radius: 4px;
  background-color: #FDFDFD;
}

.foot-email .foot-submit:hover {
  color: green;
  background-color: rgba(236, 236, 234, 0.856);
}

/* footer bottom box */
.foot-bottom-box {
  padding: 26px 0 43px 0;
  border-top: 0.3px solid rgba(209, 163, 163, 0.32);
}

.foot-bottom-box .foot-copyright {
  letter-spacing: -0.204545px;
  color: #FDFDFD;
  line-height: 22px;
  font-weight: 400;
  font-size: 14px;
}

.foot-bottom-box .foot-sosial a {
  margin-left: 44px;
}

.foot-bottom-box .foot-facebook:before {
  content: '\e868';
  font-family: "sosial-icon";
  color: #FDFDFD;
  transition: 220ms all;
}

.foot-bottom-box .foot-facebook:hover:before {
  color: #cfcfcf;
}

.foot-bottom-box .foot-instagram:before {
  content: '\e867';
  font-family: "sosial-icon";
  color: #FDFDFD;
  transition: 220ms all;
}

.foot-bottom-box .foot-instagram:hover:before {
  color: #cfcfcf;
}

.foot-bottom-box .foot-twetter:before {
  content: '\e866';
  font-family: "sosial-icon";
  color: #FDFDFD;
  transition: 220ms all;
}

.foot-bottom-box .foot-twetter:hover:before {
  color: #cfcfcf;
}

/*================ Footer end =================*/
