@import "button";
@import "nav-card";
@import "icon";
@import "variables";
@import "reset";


@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Maze&family=Silkscreen:wght@400;700&display=swap');

/*===== carousel background =====*/



.carousel__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
}
/*===== kateqoriya=====*/
.category {
  margin-top: 70px;
  margin-bottom: 60px;
 .category-box { 
  width: 335px;
  margin-right: 95px;
  .category-box__text {
    color:$color-blue;
    line-height: $line-24;
    margin-bottom: 12px;
    font: {
      weight:$font-500;
      size:$font-16;
      style:$font-normal;
    }
  }
  .category-box__title {
    color: $color-black1;
    line-height: $line-53;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    font: {
      weight:$font-600;
      size:$font-36;
      style:$font-normal;
    }
  }
  .category-box__about {
    width: 335px;
    line-height: $line-32;
    color: $color-gray1;
    font: {
      weight:$font-400;
      size:$font-18;
    }
  }
 }
}

 /*===== satılıq, kirayə evlər =====*/
 @mixin size {
  max-width: 251px;
  max-height: 287px;
  padding: 60px 40px;
 }
  .rent-boxs {
    .sale {
    @include size;
    }
    .rent-month {
    @include size;
    }
    .rent-day {
    @include size;
    background: #FFFFFF;
    box-shadow: 40px 0px 70px rgba(121, 121, 121, 0.05), -40px 100px 70px rgba(121, 121, 121, 0.05);
    }
    h3 {
      margin-top: 15px;
      margin-bottom: 19px;
      line-height: $line-25;
      color: $color-black2;
      font: {
        weight:$font-500;
        size:$font-20;
      }
    }
    p {
      width: 179px;
      line-height: $line-27;
      color: $color-gray1;
      font: {
        weight:$font-400;
        size:$font-16;
      }
    }
    .sale__icon::before {
      content: '\e847';
      font-family: "category";
      font-size: $font-35;
      color: $color-purple;
    }
    .rent-month__icon::before {
      content: '\e84b';
      font-family: "category";
      font-size: $font-35;
      color: $color-green;
    }
    .rent-day__icon::before {
      content: '\e84a';
      font-family: "category";
      font-size: $font-35;
      color: $color-pink;
    }
  } 
  /* ========== heart like button ==========*/
  .key {
    display: none;
  }
  .immg {
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  .imgg {
    cursor: pointer;
  }
/*============ Önə çıxan təkliflər hissəsi and content start ===============*/
    figure {
         background: #FFFFFF;
         box-shadow: 0px 68px 84px -48px rgba(226, 238, 249, 0.6);
         border-radius: 10px;
         margin-bottom: 20px;
     }
    figcaption {
      padding-left: 10px;
      padding-bottom: 25px;
    }
    .margin-size .col:nth-last-child(1){
      margin-left: 20px;
    }
    .margin-size .col:nth-child(2){
      margin-right: 20px;
    }
    .margin-size .col:nth-child(1){
      margin-right: 20px;
    }
    .suggestion {
      &__title-box {
        padding: 0;
      }
      &__img {
        height: 100%;
        border-radius: 8px;
      }
      &__img-height {
        height: 240px;
      }
      &__title {
      line-height: $line-35;
      color:$color-black1;
      margin-bottom: 15px;
      font: {
          weight: $font-600;
          size: $font-32;
        }
      }
      &__text {
      margin-bottom: 40px;  
      line-height: $line-30;
      color: $color-gray3;
      font: {
        weight:$font-400;
        size:$font-18;
        }
      }
      &__link {
        color: $color-blue;
        line-height: $line-24;
        font: {
          weight: $font-600;
          size: $font-16;
        }
        img {
          margin-left: 13px;
        }
      }
      &__like-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #FFFFFF;
      }
      &__col-middle {
        margin-right: 20px;
        margin-left: 20px;
      }
      &__img-title {
        margin-top: 13px;
        margin-bottom: 12px;
        color: $color-black3;
        line-height: $line-21;
        font: {
          size:$font-20;
          weight:$font-600;
        }
      }
      &__img-adress {
        max-width: 270px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 14px;
        display: inline-block;
        color: $color-gray4;
        font: {
          size: $font-14;
          weight: $font-500;
        }
      }
      .img-adress-size {
        max-width: 360px;
      }
      &__img-box {
        height: 245px;
      }
      &__img {
        height: 100%;
        border-radius: 8px;
      }
      &__img-height {
        height: 240px;
      }
      &__properties {
        margin-right: 24px;
        display: flex;
        align-items: center;
        line-height: $line-15;
        color: $color-gray5;
        letter-spacing: 0.01em;
        font: {
           size:$font-14;
           weight: $font-400;
        }
        img {
          margin-right: 10px;
        }
      }  
  }
  /* Bağ evləri hissəsi */
  .title-margin {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  /* advertise-reklam vermə hissəsi*/
  .advertise {
    margin-top: 87px;
   .advertise__title {
    top: 117px;
    left: 57px;
    h3 {
         margin-bottom: 30px;
         line-height: $line-42;
         color: $color-white;
         font: {
           size:$font-28;
           weight:$font-700;
              }
       }
   }
   .advertise__link {
    bottom: 117px;
    left: 57px;
    a{
       padding: 13px 30px;
       display: inline-block;
       background-color: $color-blue;
       line-height: $line-26;
       color: $color-white;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px    0px 1px rgba(0, 0, 0, 0.04);
       border-radius: 6px;
       transition: 250ms all;
       font: {
         size: $font-17;
         weight: $font-400;
       }
       &:hover {
        background-color: #0046b0;
        color: #2cfc0c;
       }
    }  

  }
}

/*================ favori-pages =================*/
.suggestion-title-size {
  margin-bottom: 40px;
  margin-top: 96px;
 }
 .suggestion__like {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #FFFFFF;
&:before {
  content: '\e86a';
  font-family: "heart-like";
  color: red;
  }
}
.navbar-size {
  width: 1197px;
}
/*============= Footer start ====================*/

footer {
  margin-top: 95px;
  padding-top: 71px;
  color: $color-white1 !important;
  background-color: $color-black;
}
.foot-logo {
  line-height: $line-36;
  margin-bottom: 10px;
  color:  $color-white1;
  transition: 200ms all;
  font: {
    weight: $font-700;
    size: $font-24;
  }
  &:hover {
    color: #0cf967;
  }
} 
.foot-text {
  width: 236px;
  line-height: $line-24;
  opacity: 0.88;
  font: {
    size: $font-16;
    weight: $font-400;
  }
}  
.foot-nav {
  h3 {
  line-height: $line-24;
  margin-bottom: 25px;
  font: {
    size: $font-18;
    weight: $font-500;
  }
 }
 li {
  margin-bottom: 14px;
  a {
    line-height: $line-16;
    color: $color-white1;
    transition: 200ms all;
    font: {
      weight: $font-400;
      size: $font-14;
    }
    &:hover {
      color: #cfcfcf;
    }
   }
 }
}
.foot-email {
  right: 0;
  .right-arrow-icon:before {
       content: '\e863'; 
       font-family: 'right-arrow';
  }
  .foot-email {
    margin-right: 10px;
    border-radius: 0;
    background-color: $color-white1;
    line-height: $line-24;
    color: $color-black;
    font: {
        weight:$font-400;
        size: $font-15;
    }
  }
  .foot-label {
    width: 292px;
    margin-bottom: 27px;
    line-height: $line-20;
    font: {
      size: $font-14;
      weight: $font-400;
    }
  }
  .foot-submit {
    border-radius: 4px;
    background-color: $color-white1;
    &:hover {
      color: green;
      background-color: rgba(236, 236, 234, 0.856);
    }
  }
}
/* footer bottom box */
.foot-bottom-box {
 padding: 26px 0 43px 0;
 border-top: 0.3px solid rgba(209, 163, 163, 0.32);
.foot-copyright {
  letter-spacing: -0.204545px;
  color: $color-white1;
  line-height: $line-22;
  font: {
    weight: $font-400;
    size: $font-14;
  }
}
.foot-sosial {
  a {
    margin-left: 44px;
  }
}
.foot-facebook:before {
  content: '\e868'; 
  font-family: "sosial-icon";
  color: $color-white1;
  transition: 220ms all;
}
.foot-facebook:hover:before {
  color: #cfcfcf;
}
.foot-instagram:before {
  content: '\e867';
  font-family: "sosial-icon";
  color: $color-white1;
  transition: 220ms all;
}
.foot-instagram:hover:before {
  color: #cfcfcf;
}
.foot-twetter:before {
  content: '\e866'; 
  font-family: "sosial-icon";
  color: $color-white1;
  transition: 220ms all;
 }
 .foot-twetter:hover:before {
  color: #cfcfcf;
}
}
 
/*================  Detail-page ===================*/
/* picture section -> right bar start */
.gall {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}
.gall .imgthumb,
.gall .imgcont {
  background-color: transparent;
  width: 100%;
}
.gall .thumbbox {
  top: -15px;
  position: relative;
  background-color: transparent;
  height: 58px;
  overflow: hidden;
  padding: 0;
  border: solid 2px grey;
  margin: 0 20px 0 20px;
  border-radius: 10px;
}
.gall .imgthumb {
  position: absolute;
  display: block;
  top: 0;
  padding: 0;
  height: 100%;
  width: 1000px;
  background-color: #222222;
  text-align: left;
}
.gall .imgcont {
  padding-bottom: 5px;
  display: inline-block;
  border: solid 2px grey;
  border-radius: 8px;
}
.gall .imgthumb img {
  display: inline-block;
  margin: 4px 0px 0 8px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
}
.gall .imgcont img,
.gall .imgcont span {
  display: inline-block;
}
.gall .imgcont img {
  border-radius: 5px;
  margin-top: 5px;
  width: 98%;
  cursor: pointer;
}
.gall .btnl,
.gall .btnr {
  padding: 2px 5px 2px 5px;
  border: solid 2px grey;
  border-radius: 8px;
  background-color: #222222;
  min-height: 18px;
  font: bolder 14px san-serif;
  color: #dddddd;
  cursor: pointer;
}
.gall .btnl {
  position: absolute;
  left: 4px;
  bottom: 30px;
}
.gall .btnr {
  float: right;
  position: absolute;
  right: 4px;
  bottom: 30px;
}
/* float win */
.gall .overlayer,
.gall .outerframe {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 0;
}
.gall .overlayer {
  background-color: #222222;
  opacity: 0.75;
}
.gall .outerframe .outerbox {
  position: relative;
  top: 20px;
  margin: 0 auto 0 auto;
  z-index: 10;
  opacity: 1;
}
.gall .imgbox {
  position: relative;
  width: auto;
  display: inline-block;
}
.gall .img {
  position: relative;
  opacity: 1;
  z-index: 10;
  border-radius: 8px;
  border: solid 3px grey;
}
.gall .desc,
.gall .close,
.gall .less,
.gall .greater,
.gall .displ {
  padding: 2px 10px 2px 10px;
  border: solid 3px grey;
  border-radius: 8px;
  background-color: #333333;
  min-height: 18px;
  font: bolder 14px Arial, san-serif;
}
.gall .desc {
  position: relative;
  top: -18px;
  z-index: 15;
  display: inherit;
  font: bolder 14px Arial, san-serif;
  background-color: #333333;
}
.gall .close,
.gall .less,
.gall .greater,
.gall .displ {
  z-index: 15;
  top: -13px;
  color: #dddddd;
  text-decoration: none;
  font-weight: bolder;
  font-family: sans-serif;
}
.gall .inactive {
  color: grey;
}
.gall .close {
  position: absolute;
  right: 10px;
}
.gall .btntop {
  position: absolute;
  top: -9px;
  z-index: 15;
  width: 100%;
}
/* turn back button*/
.turn-back-button {
  top: 20px;
  left: 20px;
}
/* picture section -> right bar end */
.carousel {

 .slide-button {
  background-color: #F0F0F0;
  color: black;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
 }
 .carousel-btn {
  opacity: 1;
  display: flex;
  &:hover {
    opacity: 0.8;
  }
 }
 .carousel-item-detail {
  width: 744px;
  height: 416px;
  img {
    width: 744px;
    height: 416px;
  }
 }
 .carousel-inner {
   border-radius: 12px 0px 0px 12px;
 }
} /* detail-page caeousel end */
.slide-box {
  margin-right: 16px;
}
.slide-picture-box {
  width: 1200px;
}
.picture-box {
  width: 212px;
  height: 200px;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
    transition: 200ms all;
    &:hover {
      opacity: 0.7;
    }
  }
  a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
.picture-row  {
  margin-left: 0;
}

.picture-row div:nth-child(2) {
    margin-bottom: 16px;
    img {
      border-radius: 0px 12px 0px 0px;
    }
    }  
.picture-row div:nth-child(4) {
    img {
      border-radius: 0px 0px 12px 0px;
    }
    }     
.picture-row div:nth-child(1) {
    width: 212px;
    margin-right: 16px;
  }
.picture-row div:nth-child(3) {
    width: 212px;
    margin-right: 16px;
  }
.detail-nav-button {
    border: 1px solid $color-blue;
    background-color: $color-white;
    a { 
      border-radius: 4px;
    }
}
.detail-navbar-row {
    margin-top: 42px;
    margin-bottom: 42px;
}
.detail-navbar {
z-index: 0;
top: 0;
}  
.detail {
  width: 1200px;
&__title {
  color: #000000;
  margin-top: 60px;
  margin-bottom: 8px;
  line-height: $line-32;
  font: {
    weight: $font-500;
    size: $line-24;
  }
}  
&__about {
  padding: 0;
  color: $color-blue;
  line-height: $line-20;
  font: {
    weight: $font-500;
    size: $font-14;
  }
  li:nth-child(1){
    list-style: none !important;
  }
  li {
    display: flex;
    align-items: center;
    margin-right: 18px;
  }
  li::before {
    content: "\2022";
    color: black;
    font-size: 7px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -11px;
    margin-right: 3px;
  }
  li:nth-child(1)::before {
    content: "";
  }
}
&__subtitle {
  color: #161616;
  line-height: 33px;
  font: {
    weight: $font-500;
    size: 22px;
  }
 }
&__info {
  color: $color-black;
  line-height: $line-24;
  font: {
    weight: $font-400;
    size: $font-16;
  }
} 
&__availability {
  margin-top: 40px;
  margin-bottom: 16px;
}
&__month {
  margin-right: 160px;
}
&__gender {
  margin-top: 50px;
  margin-bottom: 16px;
}
&__detail {
  margin-top: 50px;
}

&__text {
  color: $color-black;
  line-height: $line-24;
  font: {
    weight: $font-400;
    size: $font-16;
  }
}
&__content {
  li {
    margin-top: 36px;
    margin-bottom: 36px;
    color: $color-black;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
  }
}
&__description {
  margin-top: 54px;
  margin-bottom: 16px;
 }
}
.detail__location {
  margin-top: 50px;
  margin-bottom: 24px;
  color: $color-black;
  line-height: $line-27;
  font: {
    weight: $font-500;
    size: $font-18;
  }
}
.detail__map {
  margin-bottom: 71px;
  /* map button position*/
  .gmnoprint {
    top: 25px !important;
    margin-right: 10px !important;
  }
  .gm-svpc {
    margin-top: 115px;
  }
  .gm-style-mtc {
    top: -25px !important;
  }
}
/*   Bron box start  */
.bron {
  border: 1px solid #E5E7EB;
  background-color: $color-white1;
  width: 370px;
  height: 298px;
  padding: 24px 22px 40px 22px;
  box-shadow: 0px 20px 25px rgba(31, 41, 55, 0.1), 0px 10px 10px rgba(31, 41, 55, 0.04);
  border-radius: 8px;
  margin-top: 60px;
  &__money {
    margin-left: 8px;
    color: $color-black3;
    line-height: $line-21;
    font: {
      weight: $font-600;
      size: $font-24;
    }
  }
  &__day {
    margin-left: 4px;
    color: $color-black4;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
  }
  &__slash {
    margin-left: 4px;
    color: $color-black4;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  }
  &__view {
    margin-bottom: 0;
    li {
      color: $color-black4;
      line-height: $line-20;
      font: {
        weight: $font-500;
        size: $font-14;
      }
    }
    li:nth-child(2){
      margin-left: 18px;
    }
    li img{
      margin-right: 7px;
    }
    li:nth-child(2):before {
      content: "\2022";
      color: #6B7280;
      font-size: 7px;
      font-weight: bold;
      display: inline-block; 
      width: 1em;
      margin-left: -11px;
      margin-right: 3px;
    }
  }
  form  {
  input {
    margin-top: 16px;
    letter-spacing: 0.2px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    padding: 11px 21px;
    color: $color-gray6;
    line-height: $line-28;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  }
  div:nth-child(2) {
      margin-bottom: 24px;
    }
  }
  .submit-button {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $color-blue;
    border-radius: 6px;
    line-height: $line-28;
    color: $color-white1;
    letter-spacing: 0.2px;
    font: {
      weight: $font-600;
      size: $font-14;
    }
    &:hover {
      background-color: #1667e1;
      color: #cfffa8;
    }
  }
}
/* ================== Elan ver pages start ===============*/
/* ------------- Elan ver page-1 ------------*/
.advertised {
  margin-top: 3px;
  width: 592px;
  &__check {
    padding: 0 20px;
  }
  &__title {
    margin-bottom: 10px;
    color: $color-black1;
    line-height: $line-35;
  font: {
    weight: $font-600;
    size: $font-32;
  }
  }
  &__subtitle {
   margin-top: 30px;
   margin-bottom: 14px;
   color: $color-black5;
   line-height: $line-24;
   font: {
    weight: $font-500;
    size: $font-16;
   }
  }
  /* kirayə kateqoriya buttonları */
  &__category-button {
  color: $color-black4;  
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  width: 184px;
  transition: 200ms all;
  position: relative;
  &:hover {
    border-color: #859ab0;
  }
  color: $color-black4;
  font: {
    weight: $font-400;
    size: $font-14;
  }
  }
  &__rent {
  height: 48px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  }
  &__category-choose {
    transition: 300ms all;  
    border-radius: 6px;
    border: 1px solid $color-gray7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  &__rent:checked + .advertised__category-choose{
    color: white;
    background-color: #00bcd4;
  }
  /* Hansı tarixdə köçmək olar buttonu */
  &__move-date {
    padding: 13px 17px;
    border: 1px solid $color-gray7;
    &:hover {
      border: 1px solid  #859ab0;
      border-radius: 6px;
    }
  }
  /* şəhər seçmə buttonu */
  &__city-select {
    -webkit-appearance: none !important;
    border-radius: 4px;
    padding: 19px 17px;
    color: $color-black5;
    line-height: $line-24;
    font: {
    weight: $font-400;
    size: $font-16;
    }
    &-toggle::after {
      content: none;
    }
    &:hover {
      border: 1px solid  #859ab0;
    }
  }
  &__city {
    margin-bottom: 8px;
    color: $color-black5;
    line-height: $line-21;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  }
    /* qiymət yazma buttonu */
  &__space {
    margin-top: 30px;
    margin-bottom: 14px;
  }
  &__price-box {
    padding: 19px 17px;
    color: #C0C0C0;
    line-height:  $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
    &:hover {
      border: 1px solid $color-gray8;
    }
  }
  &__value {
    position: absolute;
    margin-left: 48px;
    color: $color-black5;
    line-height:  $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
  }
  select, input {
    border: 1px solid $color-gray7;
  }
  /* ev haqqında məlumat */
  &__about-home {
    padding: 19px 17px;
    width: 590px;
    height: 97px;
    max-height: 98px;
    color: #C0C0C0;
    line-height:  $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
    &:hover {
      border: 1px solid  $color-gray8;
    }
  }
  /* şəkil əlavə etmə buttonu */
   &__choose-button {
    padding: 10px 24px;
    color: $color-blue;
    line-height: 170%;
    background: #DFE4EC;
    border-radius: 4px;
    font: {
      weight: $font-500;
      size: $font-14;
    }
   }
   &__choose-text {
    color: $color-black6;
    line-height: 130%;
    font: {
      weight: $font-400;
      size: $font-14;     
    }
   }
   &__home-picture {
     opacity: 0;
     border: none !important;
     box-shadow: none !important;
     &:hover {
      box-shadow: none;
     }
     &:valid {
      opacity: 1;
      .advertised__choose-text {
        opacity: 0;
      }
     }
   }
   &__picture-box {
    cursor: pointer;
    border-radius: 8px;
    padding: 26px 17px;
    border: 1px dashed $color-gray7;
    transition: 200ms all;
    &:hover {
      border: 1px solid  $color-gray8;
    }
   }
   &__other-picture {
    margin-top: 14px;
    margin-bottom: 30px;
   }
   /* Geri və iləri buttonları */
   &__prew-next {
    border: 1px solid $color-gray7 !important;
    width: 184px;
    padding: 0;
    border-radius: 6px;
    a {
      display: inline-block;
      width: 100%;
      color: $color-black6;
      line-height: 48px;
      font: {
        weight: $font-500;
        size: $font-14;
      }
    }
    &:hover {
      border: 1px solid  $color-gray8;
      background-color: $color-blue;
      a {
      color: $color-white1;
      font-weight: 600;
      }
    }
   }
}
input.advertised__home-picture::file-selector-button {
  display: none;
}
/* ----- Elan ver page-2 detallar -- --*/
.advertised {
  width: 590px;
  /* detallaı seçmə. adam, otaq, hamam, yataq sayı seçmə butonları */
  &__details-title {
    margin-top: 14px;
    color: $color-black5;
    line-height: $line-21;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  }
  &__details {
    height: 48px;
  }
  /* Təchizatlar */
  &__equipment {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 62px;
    // border: 1px solid $color-gray7;
    border-radius: 6px;
  span{
    color: $color-black;
    line-height: $line-27;
    font: {
      weight: $font-400;
      size: $font-16;
    }
   }
 }
 &__tv::before {
    font-family: "detail";
    content: '\e893';
    margin-right: 16px;
    font-size: $font-24;
 } 
 &__wifi::before {
    font-family: 'techizat-icon';
    content: '\e87b';
    margin-right: 16px;
    font-size: $font-24;
 }
 &__paltaryuyan::before {
    font-family: 'techizat-icon';
    content: '\e87a';
    margin-right: 16px;
    font-size: $font-24;
 }
&__kondisoner::before {
    font-family: 'techizat-icon';
    content: '\e877';
    margin-right: 16px;
    font-size: $font-24;
 }
 &__qızdırıcı::before {
    font-family: 'techizat-icon';
    content: '\e876';
    margin-right: 16px;
    font-size: $font-24;
 } 
 &__lift::before {
    font-family: 'techizat-icon';
    content: '\e881'; 
    margin-right: 16px;
    font-size: $font-24;
 }
 &__parking::before {
    font-family: 'techizat-icon';
    content: '\e87c';
    margin-right: 16px;
    font-size: $font-24;
 }
 &__terras::before {
    font-family: 'techizat-icon';
    content: '\e882';
    margin-right: 16px;
    font-size: $font-24;
 }
 &__hovuz::before {
    font-family: 'techizat-icon';
    content: '\e878';
    margin-right: 16px;
    font-size: $font-26;
 } 
 &__səs::before {
    font-family: 'techizat-icon';
    content: '\e885'; 
    margin-right: 16px;
    font-size: $font-22;
 } 
 &__meydan::before {
    font-family: 'techizat-icon';
    content: '\e87e';
    margin-right: 16px;
    font-size: $font-24;
 } 
 &__bilyard::before {
    font-family: 'techizat-icon';
    content: '\e886';
    margin-right: 16px;
    border: 1px solid $color-black;
    border-radius: 50%;
    font-size: $font-22;
 } 
 &__caqquzi::before {
    font-family: 'techizat-icon';
    content: '\e87d';
    font-size: $font-28;
    position: absolute;
    left: 16px;
    top: 15px;
 }
 &__cigarette::before {
  font-family: "detail";
  content: '\e86d'; 
  margin-right: 16px;
  font-size: $font-24;
  color: $color-black;
 } 
 &__couple::before {
  font-family: "detail";
  content: '\e899';
  font-size: 46px;
  position: absolute;
  margin-top: 8px;
  left: -37px;
  color: $color-black;
 }
 /* icazə verilir section */
 &__techizat {
  margin-top: 10px;
 }
 &__equipment-size {
  width: 285px;
  margin-bottom: 30px;
 }
 &__choose-button {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
 } 
 &__equipment input:checked ~.advertised__change-color{
  color: #3E86F5;
 }
 &__equipment input:checked ~.advertised__change-color::before {
  color: #3E86F5;
 }
 &__equipment input:checked ~.advertised__change-color::before {
  border-color: #3E86F5;
 }
 &__choose-button-border {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid $color-gray7;
  border-radius: 6px;
 }
 &__choose-button:checked + .advertised__choose-button-border {
  border: 1px solid $color-blue;
} 
}
/* ------- Elan ver page 4 ------*/
.advertised {
  &__next-prew-button {
    margin-top: 30px;
    margin-bottom: 217px;
  }
  &__contact-box {
    width: 285px;
    height: 62px;
   }
  &__contact-title {
    color: $color-black5;
    line-height: $line-21;
    font: {
      weight: $font-400;
      size: $font-14;
    }
  } 
  &__subtitle-weight {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
  }
  &__name-lastname-box {
    height: 62px;
  }
  &__person-radio {
    color: $color-black4;
    line-height: $line-24;
    font: {
      weight: $font-400;
      size: $font-16;
    }
  }
  &__person-radio-box {
    margin-top: 12px;
    margin-bottom: 2px;
    label {
      color: $color-black4;
      line-height: $line-24;
      font: {
        weight: $font-400;
        size: $font-16;
      }
    }
  }
}
/*----- elan ver succes page -----*/
.advertised {
 &__succes-img {
   margin-top: 66px;
   margin-bottom: 46px;
 }
 &__success-title {
  color: $color-black4;
  line-height: $line-30;
  font: {
    weight: $font-500;
    size: $font-20;
  }
 }
 &__success-info {
  width: 203px;
  color: #7B7B7B;
  line-height: $line-21;
  font: {
    weight: $font-400;
    size: $font-14;
  }
 }
 &__success-info-box {
  width: 203px;
  margin-top: 9px;
  margin-bottom: 24px;
 }
 &__success-details {
  width: 255px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #4D4D4D;
  line-height: $line-21;
  font: {
    weight: $font-500;
    size: $font-14;
  }
  &:hover {
    border: 1px solid #cfdbe8;
    background-color: #ffffff;
  }
}
}
/*----- elan ver failed page -----*/
.advertised {
  &__failed-img-box {
    margin-top: 66px;
    margin-bottom: 46px;

  }
}
/*============== Qeydiyyatdan keç səhifəsi ==============*/
.sing-up {
  background-color: $color-white1;
  display: flex;
  &__picture-box {
  position: relative;
  height: 100vh;
  width: 730px;
  }
  img {
    height: 100%;
    width: 100%;
  }
 &__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
 }
 &__title {
  position: absolute;
  z-index: 5;
   h1{
    color: $color-white;
    line-height: 60px;
    font: {
      weight: $font-600;
      size: $font-40;
    }
   }
   span {
    color: #CFCFCF;
    line-height: $line-30;
    font: {
      weight: $font-500;
      size: $font-20;
    }
   }
  }
  &__form-title {
    margin-bottom: 20px;
    color: $color-black7;
    line-height: $line-36;
    letter-spacing: 0.2px;
    font: {
      weight: $font-500;
      size: $font-28;
    }
  }
  &__form-box {
    width: 400px;
  } 
  &__form {
    label {
      margin-top: 14px;
      color: $color-black7;
      line-height: $font-28;
      font: {
        weight: $font-500;
        size: $font-16;
      }
    }
    input {
      height: 45px;
      border: 1px solid $color-gray9;
      border-radius: 6px;
      background: #ffffff;
      font: {
        size: $font-14;
        weight: $font-500;
      }
      &:hover {
        border: 1px solid  $color-gray8;
      }
    }
  }
  &__submit-button {
    margin-top: 28px;
    height: 40px;
    font-size: $font-14;
    font-weight: $font-500;
  }
}

/* ================ Login pages ================ */

.log-in {
  background-color:$color-white1;
  display: flex;
  &__picture-box {
  position: relative;
  height: 100vh;
  width: 730px;
  }
  img {
    height: 100%;
    width: 100%;
  }
 &__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(39, 39, 39, 0.4);
  z-index: 2;
 }
 &__title {
  position: absolute;
  z-index: 5;
   h1{
    color: $color-white;
    line-height: 60px;
    font: {
      weight: $font-600;
      size: $font-40;
    }
   }
   span {
    color: #CFCFCF;
    line-height: $line-30;
    font: {
      weight: $font-500;
      size: $font-20;
    }
   }
  }
  &__form-title {
    margin-bottom: 20px;
    color: $color-black7;
    line-height: $line-42;
    letter-spacing: 0.2px;
    font: {
      weight: $font-500;
      size: $font-28;
    }
  }
  &__form-box {
    width: 400px;
  } 
  &__form {
    label {
      margin-top: 14px;
      color: $color-black7;
      line-height: $font-28;
      font: {
        weight: $font-500;
        size: $font-16;
      }
    }
  }
  &__input {
    height: 45px;
    border: 1px solid $color-gray9;
    border-radius: 6px;
    background: #ffffff;
    font: {
      size: $font-14;
      weight: $font-500;
    }
    &:hover {
      border: 1px solid  $color-gray8;
    }
  }
  &__check-box {
    padding-left: 0;
    label {
      display: flex;
      color: #666666;
      line-height: $line-21;
      font: {
        weight: $font-400;
        size: $font-14;
      }
    }
    span a {
      color: $color-blue1;
      transition: 200ms all;
      line-height: $line-21;
      font: {
        weight: $font-400;
        size: $font-14;
      }
      &:hover {
        color: #8c98aa;
      }
    } 
  }
  &__check-arrow {
    cursor: pointer;
    position: relative;
    border: 1px solid #D9D9D9;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    appearance: none;
    margin-right: 11px;
    transition: 250ms all;
    &:hover {
     border-color: $color-gray8;
    }
    &:checked {
      background-image: url(../img/chck.png);
      background-repeat: no-repeat;
      background-position: center;
      transition: none;
    }
  }
  &__submit-button { 
    margin-top: 28px;
    margin-bottom: 14px;
    a {
      display: inline-block;
      color: $color-white;
      // height: 40px;
      font-size: $font-14;
      font-weight: $font-500;
    }
  }
  &__submit-button { 
      color: $color-white;
      color: $color-white;
      font-size: $font-14;
      font-weight: $font-500;
  }
  &__create-account {
    span{
      line-height: $line-18;
      color: $color-blue1;
      font: {
        size: $font-16;
        weight: $font-400;
      }
    }
    a {
      text-decoration: underline !important;
      line-height: $line-18;
      color: $color-blue;
      transition: 200ms all;
      font: {
        size: $font-16;
        weight: $font-500;
      }
      &:hover {
        color: #0056d7;
      }
    }
   }
    /*----- error password ------*/
    &__error-password {
      label  {
        color: $color-red;
      }
      input {
        border-color: $color-red;
        color: $color-red;
      }
    }
}
/* ============== Update password2 page ============== */
.update-password-box {
  input {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    text-align: center;
    background-color: $color-white;
    border: 1px solid $color-gray9;
  }
}

 
 