/*===== slide card start =====*/
.card-body {
  padding: 20px 5px;
}

/*===== slide top card start =====*/
.navbar {
  top: 38px;
  margin: auto;
  border: none;
  background-color: transparent;
  z-index: 3;
}

.navbar__left-box {
  color: #FDFDFD;
}

.navbar .slide-favori {
  color: #FDFDFD;
  line-height: 40px;
  margin-right: 37px;
  transition: 200ms all;
}

.navbar .slide-favori::before {
  transition: 200ms all;
  margin-right: 10px;
  content: '\e840';
  font-size: 25px;
  font-family: "card-top-icon";
}

.navbar .slide-favori:hover {
  color: yellow;
}

.navbar .slide-favori:hover::before {
  color: red;
}

.navbar .slide-dropdown {
  margin-right: 37px;
  line-height: 40px;
  transition: 200ms all;
  color: white;
}

.navbar .slide-dropdown::after {
  margin-left: 10px;
  content: '\e841';
  font-family: "icon-vector";
  font-size: 8px;
}

.navbar .slide-dropdown:hover {
  color: yellow;
}

.navbar .slide-dropdown::after {
  color: #ffffff;
}

.navbar .slide-dropdown:hover::after {
  color: #cbcbcb !important;
}

.navbar .user {
  transition: 200ms all !important;
}

.navbar .dropdown-box:hover .user {
  background-color: #17cd01;
  border-radius: 50px;
}

.navbar .dropdown-item {
  font-size: 13px;
}

.navbar .Logo {
  padding: 3px 7px;
  border-radius: 20px;
  transition: 200ms all;
}

.navbar .Logo:hover {
  box-shadow: 3px 3px 40px 3px #e1dede;
}

.navbar .elan {
  transition: 200ms all !important;
}

.navbar .elan:hover {
  box-shadow: 3px 3px 40px 3px #e1dede;
}

/*===== slide bottom card start =====*/
.container-card {
  bottom: 36%;
}

.slide-card2 {
  border-radius: 6px;
  z-index: 3;
}

.slide-card2 .select {
  border-right: 1px solid #717171;
  padding: 0 20px;
}

.slide-card2 .select__metro {
  width: 254px;
}

.slide-card2 .select__room {
  width: 96px;
}

.slide-card2 .select__home {
  width: 158px;
}

.slide-card2 .select .form-select {
  height: 23px;
  color: #8B8989;
  font-size: 15px;
  font-weight: 400;
  padding: 0 10px 0 2px !important;
  transition: 180ms all !important;
  cursor: pointer;
}

.slide-card2 .select .form-select:hover {
  color: #272727 !important;
}

.slide-card2 .select .form-label {
  padding-left: 2px;
  color: #272727;
  line-height: 23px;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
}

.slide-card2 .search {
  padding: 0 25px;
}

.slide-card2 .search__text {
  width: 310px;
  border: 1px solid #E6E6E6 !important;
  border-radius: 6px;
  height: 50px;
  margin-right: 10px;
  color: #9F9F9F;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 14px;
  font-line-height: 28px;
  font-style: normal;
}

.slide-card2 .search__submit {
  width: 126px;
  height: 50px;
  background-color: #3E86F5;
  border-radius: 6px;
  color: #FFFFFF;
  transition: 200ms all;
  font-weight: 500;
  font-size: 15px;
}

.slide-card2 .search__submit:hover {
  background-color: #20d300;
}

.slide-card2 option {
  background-color: #d9d8d8;
}

/*================== Favori Page Nav ======================*/
.dropdown-color {
  color: #272727 !important;
}

.slide-favori-color {
  color: #272727 !important;
}

.slide-favori-color:hover {
  color: #ffcc00 !important;
}

.dropdown-color::after {
  color: #272727 !important;
}

.dropdown-color:hover {
  color: #ffcc00 !important;
}

.slide-dropdown:hover::after {
  color: #cbcbcb !important;
}
