* {
    box-sizing:border-box !important;
    margin: 0;
    padding: 0;
    text-decoration: 0 !important;
    list-style: none;
    font-style: normal;
}
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: $color-white1;
}

/* Chrome, Safari, Edge, Opera -> input number arrow hide*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox -> input number arrow hide*/
input[type=number] {
  -moz-appearance: textfield;
}
.advertised, .sing-up, .log-in, .card-body{
  ::placeholder {
    color: #C0C0C0;
    /* Firefox */
   }
   
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:#C0C0C0;
   }
   
   ::-ms-input-placeholder { /* Microsoft Edge */
     color: #C0C0C0;
   }
}

