@import "variables";
/* ======= == sing-up-page.html responsive ========= */
@media only screen and (max-width: 1199px) {
.sing-up {
  &__title {
      display: none;
  }
  &__picture-box {
    width: 100%;
    }
  &__form-col{
    position: absolute;
    z-index: 4;
    // opacity: 0.7;
    bottom: 0;
    top: 0;
    background:  #d7d7d7;
    left: 0;
    height: 100%;
    width: 100%;
    filter: opacity(0.8);
    }
  }
 } 
@media only screen and (max-width: 575.98px){
.sing-up {
  &__form-box {
    width: 360px;
   }
 }
}
/* ========== login-page.html responsive ========== */
  @media only screen and (max-width: 1199px) {
    .log-in {
      &__title {
          display: none;
      }
      &__picture-box {
        width: 100%;
        }
      &__form-col{
        position: absolute;
        z-index: 4;
        // opacity: 0.7;
        bottom: 0;
        top: 0;
        background:  #d7d7d7;
        left: 0;
        height: 100%;
        width: 100%;
        filter: opacity(0.8);
        }
      }
     } 
    @media (max-width: 575.98px){
    .log-in {
      &__form-box {
        width: 360px;
       }
     }
    }
/* ============= index.html responnsive =========== */
@media (min-width: 1200px){
  /* menu */
  .container {
    max-width: 1224px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px){
/* card section */
  .slide-card2 {

    .select__metro {
      width: 230px;
    }
    .select__room {
      width: 92px;
    }
    .select__home {
      width: 141px;
    }
    .search__text {
      width: 220px;
    }
    .search__submit {
      width: 110px;
    }
    .select {
      padding: 0 13px;
    }
  } 
  .card-body {
    padding: 12px 5px;
  }
  /* rent box */
  .rent-boxs {

  .rent-day {
    padding: 60px 20px;
  }
  .rent-month {
    padding: 60px 20px;
  }
  .sale {
    padding: 60px 20px;
    width: 170px;
  }
  p {
    width: 170px;
   }  
  } 
 /*category */
  .category .category-box {   
    margin-right: 10px;
  }
  /* slide picture height */
  .carousel {

  .carousel-inner {
    div {
     height: 610px;
       img{
        height: 610px;
       }
    }
  }
 }
 /* content section */
 .suggestion__col-middle {
  margin-right: 15px;
  margin-left: 15px;
 }
}
@media (min-width: 768px) and (max-width: 991.98px){
  /* card section */
  .container-card {
    bottom: 18%;
  }
  .card-body {
    padding: 16px;
    &__select-col {
    display: block;
    div:nth-child(n + 2) {
      margin-top: 20px;
    }  
    .select {
      padding: 0;
      border-right: none;
      &__room {
        width: 100%;
      } 
      &__home {
        width: 100%;
      } 
      &__metro {
        width: 100%;
      }
    }
    .search {
      padding: 0;
      div:nth-child(2){
        margin-top: 10px;
      }
      .search__text {
        width: 100%;
       }
      .search__submit {
        width: 100%;
       }
      }
     }
    }
    .category {
      text-align: center;
      display: block !important;
      &-box {
        margin: auto !important;
      }
    }
    .suggestion__img-box {
      max-width: 245px;
      height: 210px;
    }
    .suggestion__img-height {
      height: 190px;
      max-width: 166px;
    }
    .suggestion__img-title {
     font-size: 17px;
    }
    .suggestion__img-adress {
      font-size: 12px
    }
    .suggestion__properties {
      font-size: 11px;
      margin-right: 7px;
    }
    .margin-size .col:nth-child(1) {
      margin-right: 11px;
    }
    .margin-size .col:nth-child(2) {
      margin-right: 11px;
    }
    .margin-size .col:nth-last-child(1) {
      margin-left: 11px;
    }
    .suggestion__img-adress {
      max-width: 157px;
    }
    .suggestion .img-adress-size {
      max-width: 205px;
    }
    .foot-top-box {
      display: block !important;
      div:nth-child(1) {
        justify-content: space-between;
      }  
      .foot-email-box {
        margin-bottom: 140px;
      } 
    .foot-email {
        left: 0;
        
      }
    }





}
