/* ======= == sing-up-page.html responsive ========= */
@media only screen and (max-width: 1199px) {
  .sing-up__title {
    display: none;
  }
  .sing-up__picture-box {
    width: 100%;
  }
  .sing-up__form-col {
    position: absolute;
    z-index: 4;
    bottom: 0;
    top: 0;
    background: #d7d7d7;
    left: 0;
    height: 100%;
    width: 100%;
    filter: opacity(0.8);
  }
}

@media only screen and (max-width: 575.98px) {
  .sing-up__form-box {
    width: 360px;
  }
}

/* ========== login-page.html responsive ========== */
@media only screen and (max-width: 1199px) {
  .log-in__title {
    display: none;
  }
  .log-in__picture-box {
    width: 100%;
  }
  .log-in__form-col {
    position: absolute;
    z-index: 4;
    bottom: 0;
    top: 0;
    background: #d7d7d7;
    left: 0;
    height: 100%;
    width: 100%;
    filter: opacity(0.8);
  }
}

/* ================= index.html responnsive min-width: 1200px=============== */
@media (min-width: 1200px) {
  /* menu */
  .container {
    max-width: 1224px !important;
  }
  /*----- detail pages start -----*/
  .slide-box {
    max-width: 744px;
  }
  /*----- detail page end -----*/
}

/*==================== min-width:  992px and max-width: max-width: 1199.98px ===================*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /*----- index1.html and index2.html pages start -----*/
  /* card section */
  .slide-card2 .select__metro {
    width: 230px;
  }
  .slide-card2 .select__room {
    width: 92px;
  }
  .slide-card2 .select__home {
    width: 141px;
  }
  .slide-card2 .search__text {
    width: 220px;
  }
  .slide-card2 .search__submit {
    width: 110px;
  }
  .slide-card2 .select {
    padding: 0 13px;
  }
  .card-body {
    padding: 12px 5px;
  }
  /* rent box */
  .rent-boxs .rent-day {
    padding: 60px 20px;
  }
  .rent-boxs .rent-month {
    padding: 60px 20px;
  }
  .rent-boxs .sale {
    padding: 60px 20px;
    width: 170px;
  }
  .rent-boxs p {
    width: 170px;
  }
  /*category */
  .category .category-box {
    margin-right: 10px;
  }
  /* slide picture height */
  .carousel .carousel-inner div {
    height: 610px;
  }
  .carousel .carousel-inner div img {
    height: 100%;
    width: 100%;
  }
  /* content section */
  .suggestion__col-middle {
    margin-right: 15px;
    margin-left: 15px;
  }
  /*----- index1.html and index2.html pages end -----*/
  /*----- detail pages start -----*/
  .carousel .carousel-item-detail {
    height: 416px !important;
  }
  .slide-box {
    max-width: 578.11px;
  }
  .detail > div {
    max-width: 560px;
  }
  /*----- detail page end -----*/
}

/*==================== min-width: 768px and max-width:  991.98px ===================*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*----- index1.html and index2.html pages start -----*/
  .suggestion__like-icon {
    width: 35px;
    height: 35px;
  }
  .suggestion__like-icon .imgg {
    width: 35px;
    height: 35px;
  }
  .suggestion__like-icon .immg {
    width: 35px;
    height: 35px;
  }
  /* card section */
  .container-card {
    bottom: 18%;
  }
  .card-body {
    padding: 16px;
  }
  .card-body__select-col {
    display: block;
  }
  .card-body__select-col div:nth-child(n + 2) {
    margin-top: 20px;
  }
  .card-body__select-col .select {
    padding: 0;
    border-right: none;
  }
  .card-body__select-col .select__room {
    width: 100%;
  }
  .card-body__select-col .select__home {
    width: 100%;
  }
  .card-body__select-col .select__metro {
    width: 100%;
  }
  .card-body__select-col .search {
    padding: 0;
  }
  .card-body__select-col .search div:nth-child(2) {
    margin-top: 10px;
  }
  .card-body__select-col .search .search__text {
    width: 100%;
  }
  .card-body__select-col .search .search__submit {
    width: 100%;
  }
  .category {
    text-align: center;
    display: block !important;
  }
  .category-box {
    margin: auto !important;
  }
  .suggestion__img-box {
    max-width: 245px;
    height: 210px;
  }
  .suggestion__img-height {
    height: 190px;
    max-width: 166px;
  }
  .suggestion__img-title {
    font-size: 17px;
  }
  .suggestion__img-adress {
    font-size: 12px;
  }
  .suggestion__properties {
    font-size: 11px;
    margin-right: 7px;
  }
  .margin-size .col:nth-child(1) {
    margin-right: 11px;
  }
  .margin-size .col:nth-child(2) {
    margin-right: 11px;
  }
  .margin-size .col:nth-last-child(1) {
    margin-left: 11px;
  }
  .suggestion__img-adress {
    max-width: 157px;
  }
  .suggestion__text {
    width: 518px;
  }
  .suggestion .img-adress-size {
    max-width: 205px;
  }
  .foot-top-box {
    display: block !important;
  }
  .foot-top-box div:nth-child(1) {
    justify-content: space-between;
  }
  .foot-top-box .foot-email-box {
    margin-bottom: 35px;
  }
  .foot-email-box {
    justify-content: left;
  }
  /*----- index1.html and index2.html pages end -----*/
  /*----- detail page start -----*/
  .carousel .carousel-item-detail {
    height: 340px !important;
  }
  .picture-box {
    height: 165px;
  }
  .slide-box {
    max-width: 427px;
    margin-right: 10px;
  }
  .picture-row div:nth-child(1) div {
    margin-bottom: 10px;
  }
  .picture-row div:nth-child(1) div:nth-child(2) {
    margin-left: 10px;
  }
  .picture-row div:nth-child(2) div:nth-child(2) {
    margin-left: 10px;
  }
  .detail {
    margin-top: 360px;
  }
  .detail__bron-box {
    position: absolute;
    top: -331px;
    left: 0;
  }
  .slide-box {
    max-width: 427.36px;
  }
  /*----- detail page end -----*/
}

/*==================== min-width: 576px and max-width: 767.98px ===================*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*----- index1.html and index2.html pages start -----*/
  .container-card {
    bottom: 18%;
  }
  .card-body {
    padding: 16px;
  }
  .card-body__select-col {
    display: block;
  }
  .card-body__select-col div:nth-child(n + 2) {
    margin-top: 20px;
  }
  .card-body__select-col .select {
    padding: 0;
    border-right: none;
  }
  .card-body__select-col .select__room {
    width: 100%;
  }
  .card-body__select-col .select__home {
    width: 100%;
  }
  .card-body__select-col .select__metro {
    width: 100%;
  }
  .card-body__select-col .search {
    padding: 0;
  }
  .card-body__select-col .search div:nth-child(2) {
    margin-top: 10px;
  }
  .card-body__select-col .search .search__text {
    width: 100%;
  }
  .card-body__select-col .search .search__submit {
    width: 100%;
  }
  .category {
    text-align: center;
    display: block !important;
  }
  .category-box {
    margin: auto !important;
  }
  /* rent box */
  .rent-boxs .rent-day {
    padding: 15px 10px;
  }
  .rent-boxs .rent-month {
    padding: 15px 10px;
  }
  .rent-boxs .sale {
    padding: 15px 10px;
  }
  .suggestion__col div:nth-child(3) {
    display: none;
  }
  .suggestion__cols div:nth-child(n+3) {
    display: none;
  }
  .margin-size .col:nth-child(2) {
    margin-right: 0;
  }
  .suggestion__img-box {
    max-width: 280px;
    height: 225px;
  }
  .suggestion__img-height {
    height: 225px;
    max-width: 248px;
  }
  .suggestion__properties {
    margin-right: 0;
    margin-left: 10px;
    font-size: 12px;
  }
  .suggestion__col-middle {
    margin-right: 0;
    margin-left: 15px;
  }
  .category-box__text {
    font-size: 15px;
  }
  .category-box__text__title {
    font-size: 33px;
  }
  .category-box__text__about {
    font-size: 16px;
  }
  .rent-boxs h3 {
    font-size: 19px;
  }
  .rent-boxs p {
    font-size: 15px;
  }
  .suggestion__title {
    font-size: 28px;
  }
  .suggestion__text {
    font-size: 16px;
    width: 365px;
  }
  .suggestion__link {
    font-size: 14px;
  }
  .suggestion__img-title {
    font-size: 18px;
  }
  .suggestion .img-adress-size {
    max-width: 245px;
  }
  .suggestion__img-adress {
    font-size: 13px;
  }
  .advertise {
    height: 240px;
  }
  .advertise img {
    width: 100%;
    height: 100%;
  }
  .advertise .advertise__title h3 {
    margin-bottom: 9px;
    line-height: 25px;
    font-size: 17px;
  }
  .advertise .advertise__link a {
    padding: 6px 15px;
    line-height: 24px;
    font-size: 13px;
  }
  .foot-email-box {
    justify-content: start;
  }
  .foot-email {
    margin-bottom: 15px;
  }
  /*----- index1.html and index2.html pages end -----*/
  /*----- detail page start -----*/
  .slide-picture-box {
    display: block;
  }
  .slide-box {
    margin-right: 0;
  }
  .carousel-inner-detail {
    border-radius: 12px 12px 12px 12px;
  }
  .carousel-inner-detail img {
    border-radius: 12px 12px 12px 12px;
  }
  .picture-row {
    display: none;
  }
  .detail {
    margin-top: 360px;
  }
  .detail__bron-box {
    position: absolute;
    top: -331px;
    left: 0;
  }
  .detail__foot {
    margin-top: 0;
  }
  .carousel .carousel-item-detail {
    height: 340px;
  }
  /*----- detail page end -----*/
}

/*==================== max-width: 575.98px ===================*/
@media (max-width: 575.98px) {
  /*----- index1.html and index2.html pages start -----*/
  .container-card {
    bottom: 18%;
  }
  .card-body {
    padding: 16px;
  }
  .card-body__select-col {
    display: block;
  }
  .card-body__select-col div:nth-child(n + 2) {
    margin-top: 20px;
  }
  .card-body__select-col .select {
    padding: 0;
    border-right: none;
  }
  .card-body__select-col .select__room {
    width: 100%;
  }
  .card-body__select-col .select__home {
    width: 100%;
  }
  .card-body__select-col .select__metro {
    width: 100%;
  }
  .card-body__select-col .search {
    padding: 0;
  }
  .card-body__select-col .search div:nth-child(2) {
    margin-top: 10px;
  }
  .card-body__select-col .search .search__text {
    width: 100%;
  }
  .card-body__select-col .search .search__submit {
    width: 100%;
  }
  .category {
    text-align: center;
    display: block !important;
  }
  .category-box {
    margin: auto !important;
  }
  .carousel .carousel-inner div {
    height: 550px;
  }
  .container-card {
    bottom: 12%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-item img:nth-child(n +2) {
    display: none;
  }
  .category-box__about {
    width: 100%;
  }
  .rent-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rent-boxs .rent-day {
    padding: 0;
    background-color: none;
  }
  .rent-boxs .rent-month {
    padding: 0;
  }
  .rent-boxs .sale {
    padding: 0;
  }
  .slide-show-picture {
    display: none !important;
  }
  .margin-size .col:nth-child(2) {
    margin-right: 0;
  }
  .margin-size .col:nth-child(1) {
    margin-right: 0;
  }
  .category {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .rent-boxs .rent-day {
    background-color: #FDFDFD;
    box-shadow: none;
  }
  .suggestion__title-box h2 {
    text-align: center;
    max-width: 257px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 14px;
  }
  .suggestion__title-box div {
    display: block !important;
    text-align: center;
  }
  .suggestion__title-box .suggestion__text {
    display: block;
  }
  .suggestion__title-box .suggestion__link {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .suggestion__title-box .suggestion__text {
    max-width: 257px;
    text-align: center;
    margin: auto;
    margin-bottom: 14px;
  }
  .suggestion__col-middle {
    margin-right: 0;
    margin-left: 0;
  }
  .title-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
  .suggestion__col {
    display: block !important;
  }
  .suggestion__col div:nth-child(n +3) {
    display: none;
  }
  .suggestion__col div:nth-child(2) figure {
    margin-bottom: 0;
  }
  .suggestion__col figure:nth-child(1) {
    margin-bottom: 29px;
  }
  .suggestion__cols {
    display: block !important;
  }
  .suggestion__cols div:nth-child(n +3) {
    display: none;
  }
  .suggestion__img-box {
    max-width: 343px;
    height: 217px;
  }
  .suggestion__img-height {
    max-width: 343px;
    height: 217px;
  }
  .suggestion__like-icon {
    width: 35px;
    height: 35px;
  }
  .suggestion__like-icon .imgg {
    width: 35px;
    height: 35px;
  }
  .suggestion__like-icon .immg {
    width: 35px;
    height: 35px;
  }
  .img-adress-size {
    max-width: 317px;
  }
  .suggestion__img-title {
    font-size: 17px;
    line-height: 18px;
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 10px;
  }
  .suggestion__img-title img {
    vertical-align: inherit;
  }
  .suggestion__img-adress {
    font-size: 13px;
  }
  .suggestion__properties {
    font-size: 13px;
    line-height: 14px;
    margin-right: 21px;
  }
  .suggestion__home img {
    width: 15px;
    height: 21px;
  }
  .suggestion__bed img {
    width: 21px;
    height: 15px;
  }
  .suggestion__wide img {
    width: 19px;
    height: 19px;
  }
  .display-xs-style {
    display: flex;
    justify-content: center;
  }
  .adverise-img-1 {
    display: none !important;
  }
  .adverise-img-2 {
    display: block !important;
  }
  .advertise {
    margin: auto;
    height: 400px;
    max-width: 343px;
  }
  .advertise img {
    width: 100%;
    height: 100%;
  }
  .foot-top-box__inner div:nth-child(n +2) {
    display: inline-block;
  }
  .foot-top-box__inner div:nth-child(3) {
    margin-left: 16%;
  }
  .foot__logo-box p {
    margin-bottom: 20px;
  }
  .foot-email-box {
    margin-top: 46px;
    justify-content: left;
    margin-bottom: 15px;
  }
  .foot-bottom-box {
    display: flex;
    flex-direction: column;
  }
  .foot-bottom-box div:nth-child(2) {
    margin-top: 20px;
    position: relative !important;
  }
  .foot-bottom-box div:nth-child(2) .foot-sosial a:nth-child(1) {
    margin-left: 0;
  }
  footer {
    padding-top: 36px;
  }
  .suggestion__properties-hide {
    display: block !important;
  }
  .carousel-small {
    height: 550px;
    background-image: url(../img/hose-pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px 100%;
  }
  .container-size {
    padding-left: 16px;
    padding-right: 16px;
  }
  /*----- index1.html and index2.html pages end -----*/
  /*----- detail page start -----*/
  .slide-box {
    margin-right: 0;
  }
  .slide-box .slide {
    border-radius: 12px 12px 12px 12px;
  }
  .slide-box .slide .carousel-inner {
    border-radius: 12px 12px 12px 12px;
  }
  .slide-box .slide img {
    border-radius: 12px 12px 12px 12px;
  }
  .picture-row {
    display: none;
  }
  .detail {
    margin-top: 496px;
  }
  .detail__bron-box {
    position: absolute;
    top: -358px;
    left: 0;
  }
  .detail__title-box {
    position: absolute;
    top: -480px;
  }
  .detail__foot {
    margin-top: 0;
  }
  .detail__content {
    display: block !important;
  }
  .detail .bron {
    margin: auto;
  }
  .carousel-inner .carousel-item-detail {
    max-height: 300px;
  }
  /*----- detail page end -----*/
  /*----- log in pages start -----*/
  .log-in__form-box {
    width: 360px;
  }
  /*----- log in pages end -----*/
}

/*==================== max-width: 375px ===================*/
@media (max-width: 375px) {
  .carousel-inner .carousel-item-detail {
    max-height: 232px;
  }
}

/*==================== max-width: 320px ===================*/
@media (max-width: 320px) {
  .detail__bron-box {
    top: -299px;
  }
  .detail__bron-box .bron {
    max-width: 295px;
  }
  .detail__bron-box .bron__view {
    display: flex;
  }
  .detail__bron-box .bron__view li {
    font-size: 14px;
  }
  .detail__bron-box .bron__money {
    font-size: 16px;
  }
  .detail__bron-box .bron__day {
    font-size: 14px;
  }
  .detail__bron-box .detail__manat-img {
    width: 13px;
    height: 13px;
  }
  .detail__month {
    margin-right: 0;
  }
  .detail__map {
    height: 350px;
  }
}

/*==================== max-width: 281px ===================*/
/*----- index1.html and index2.html pages start -----*/
@media (max-width: 281px) {
  .margin-size .col:nth-child(2) {
    margin-right: 0;
  }
  .margin-size .col:nth-child(1) {
    margin-right: 0;
  }
  .suggestion__like-icon {
    width: 29px;
    height: 29px;
  }
  .suggestion__like-icon .imgg {
    width: 29px;
    height: 29px;
  }
  .suggestion__like-icon .immg {
    width: 29px;
    height: 29px;
  }
  .suggestion__img-box {
    max-width: 255px;
    height: 200px;
  }
  .suggestion__img-height {
    max-width: 255px;
    height: 200px;
  }
  .suggestion__like-icon {
    right: 32px;
  }
  /*----- index1.html and index2.html pages end -----*/
  /*----- detail page start -----*/
  .detail__bron-box {
    top: -299px;
  }
  .detail__bron-box .bron {
    max-width: 254px;
  }
  .detail__bron-box .bron__view {
    display: flex;
  }
  .detail__bron-box .bron__view li {
    font-size: 12px;
  }
  .detail__bron-box .bron__money {
    font-size: 15px;
  }
  .detail__bron-box .bron__day {
    font-size: 12px;
  }
  .detail__bron-box .detail__manat-img {
    width: 10px;
    height: 10px;
  }
  .detail__month {
    margin-right: 0;
  }
  .detail__map {
    height: 350px;
  }
  /*----- detail page end -----*/
}
