// color
$color-white1:#FDFDFD;   
$color-gray:#717171; 
$color-gray2:#8B8989;
$color-black:#272727;
$color-white:#FFFFFF;
//line-height                         
$line-h40:40px;
$line-28:28px;
$line-23:23px;
//margin size
$margin-33:33px;
$margin-33:37px;
$margin-10:10px;
// width
$width-1197:1197px;
//padding
$padding-25:25px;
$padding-30:30px;
// height
$height-23:23px;
$height-50:50px;
// font-size
$font-15:15px;
$font-14:14px;
// font-weight
$font-500:500; 
$font-400:400;
// font-style
$font-normal:normal;
// border radius
$border-6:6px;

