// color
$color-white1:#FDFDFD;   
$color-gray:#717171; 
$color-gray1:#747582;
$color-gray2:#8B8989;
$color-black:#272727;
$color-black2:#14183E;
$color-black1:#282C4B;
$color-white:#FFFFFF;
$color-blue:#3E86F5;
$color-purple:#593FFB;
$color-green:#80CC28;
$color-pink:#FB3F6C;
//line-height   
$line-53:53px;                      
$line-h40:40px;
$line-32:32px;
$line-28:28px;
$line-27:27px;
$line-25:25px;
$line-24:24px;
$line-23:23px;
//margin size
$margin-33:33px;
$margin-33:37px;
$margin-10:10px;
//padding
$padding-25:25px;
$padding-30:30px;
// height
$height-23:23px;
$height-50:50px;
// font-size
$font-36:36px;
$font-35:35px;
$font-26:26px;
$font-20:20px;
$font-18:18px;
$font-16:16px;
$font-15:15px;
$font-14:14px;
// font-weight
$font-600:600;
$font-500:500; 
$font-400:400;
// font-style
$font-normal:normal;
// border radius
$border-6:6px;

